<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="form">
            <form>
                <div class="form-body">
                    <div class="row mb-4">
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('SerialNumberSymbol')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsSerialNumberCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Make')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsMakeCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Model')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsModelCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('UnitNumberSymbol')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsUnitNumberCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Stage')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsStageCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Upright')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsUprightCheckbox"
                            ></p-checkbox>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('DownHeight')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsDownHeightCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('ModelGroup')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsModelGroupCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('ModelYear')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsModelYearCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Forks')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsForksCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Power')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsPowerCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Attachments')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsAttachmentsCheckbox"
                            ></p-checkbox>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('LBR')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsLBRCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Capacity')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsCapacityCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('TireType')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsTireTypeCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('Transmission')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsTransmissionCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('EQComments')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsEQCommentsCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <p-checkbox
                                [label]="l('LaborSummary')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyPrintFieldsLaborSummaryCheckbox"
                            ></p-checkbox>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
        <div class="mt-30">
            <p class="font-italic">{{ l('ChangedBy') }}: Adam Madsen on 04/25/2022 11:00:29 PM</p>
        </div>
    </div>
</div>
