<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="form">
            <form>
                <div class="form-body">
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('NextCustomer') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('DefaultTerms') }}</label>
                            <p-dropdown
                                [options]="defaultTermsSelectItems"
                                [virtualScroll]="true"
                                [itemSize]="30"
                                [style]="{ width: '100%' }"
                            ></p-dropdown>
                        </div>
                    </div>
                    <div class="row align-items-center form-row-header mt-15">
                        <i class="fa fa-user"></i>
                        {{ l('SaleGroupTitles') }}
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('NumberOne') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('NumberTwo') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('NumberThree') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('NumberFour') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('NumberFive') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('NumberSix') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('CallReportFollowupDates') }}</label>
                            <input
                                type="text"
                                class="form-control"
                            />
                        </div>
                    </div>
                </div>
            </form> 
        </div>
        <div class="mt-30">
            <p class="font-italic">{{ l('ChangedBy') }}: Adam Madsen on 04/25/2022 11:00:29 PM</p>
        </div>
    </div>
</div>
