<div
    bsModal
    #replicateModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="replicateModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <form novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ l('BranchDepartmentChoice') }}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">{{ l('Branch') }}</label>
                        <select class="form-control">
                            <option>Branch 1</option>
                            <option>Branch 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">{{ l('Department') }}</label>
                        <select class="form-control">
                            <option>Department 1</option>
                            <option>Department 2</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                    >
                        <span>{{ l('Ok') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
