<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Administration' | localize" [description]="'AdministrationSaleCodes' | localize">
            <div role="actions">
                <button
                    class="btn btn-secondary blue"
                >
                    {{ l('Close') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form>
                            <div class="form-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12 text-right">
                                        <button
                                            class="btn btn-primary blue"
                                            (click)="replicateSaleCodes()"
                                        >
                                            <i class="fa fa-copy fa-lg"></i>
                                            {{ l('Replicate') }}
                                        </button>
                                        <button class="btn btn-primary blue">
                                            <i class="fa fa-plus fa-lg"></i>
                                            {{ l('Add') }}
                                        </button>
                                        <button class="btn btn-primary blue">
                                            <i class="fa fa-trash fa-lg"></i>
                                            {{ l('Delete') }}
                                        </button>
                                        <button class="btn btn-primary blue">
                                            <i class="fa fa-check fa-lg"></i>
                                            {{ l('Update') }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center form-row-header">
                                    <i class="fa fa-user"></i>
                                    {{ l('SaleCodeSetup') }}
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('Branch') }}</label>
                                        <select class="form-control">
                                            <option>Branch 1</option>
                                            <option>Branch 2</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('Department') }}</label>
                                        <select class="form-control">
                                            <option>Department 1</option>
                                            <option>Department 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('SaleCode') }}</label>
                                        <select class="form-control">
                                            <option>Sale Code 1</option>
                                            <option>Sale Code 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center form-row-header">
                                    <i class="fa fa-user"></i>
                                    {{ l('Description') }}
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-3">
                                        <label for="">{{ l('General') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">{{ l('Parts') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('SaleAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('COGAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('TaxCodeOverride') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <button
                                                    class="btn btn-primary addl-dist-btn"
                                                    (click)="addlDistSaleCodes()"
                                                >
                                                    {{ l('AddlDist') }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Taxable') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('StateOnly') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Country') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('City') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Local') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('Labor') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">{{ l('SaleAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">{{ l('COGAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('TaxCodeOverride') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('LaborRate') | titlecase }}</label>
                                        <select class="form-control">
                                            <option>Rate 1</option>
                                            <option>Rate 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Taxable') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('StateOnly') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Country') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('City') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Local') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('Misc') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">{{ l('SaleAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">{{ l('COGAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('MiscInventoryAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('TaxCodeOverride') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Taxable') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('StateOnly') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Country') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('City') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Local') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('MarkupPercent') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('SubTotalType') }}</label>
                                        <select class="form-control">
                                            <option>Type 1</option>
                                            <option>Type 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('Rental') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">{{ l('SaleAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">{{ l('COGAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('TaxCodeOverride') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('RentalCostPercent') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Taxable') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('CostPrompt') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('StateOnly') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Country') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('City') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Local') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('Equipment') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('SaleAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('COGAccount') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('TaxCodeOverride') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Taxable') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('StateOnly') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Country') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('City') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('Local') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 text-right">
                                        <button
                                            class="btn btn-primary blue"
                                            (click)="eqGroupDistSaleCodes()"
                                        >
                                            {{ l('EQGroupDist') }}
                                        </button>
                                        <button
                                            class="btn btn-primary blue"
                                            (click)="eqMakeDistSaleCodes()"
                                        >
                                            {{ l('EQMakeDist') }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('BillToOnly') }}#</label>
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                            />
                                            <div class="input-group-append">
                                                <button
                                                    class="btn btn-primary"
                                                    (click)="customerSearchSaleCodes()"
                                                >
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 align-option-btns">
                                        <div class="radio-inline">
                                            <label for="customerSale" class="radio">
                                                <input
                                                    id="customerSale"
                                                    name="billToRadio"
                                                    type="radio"
                                                />
                                                <span></span>
                                                {{ l('CustomerSale') }}
                                            </label>
                                            <label for="automaticExpenseCode" class="radio">
                                                <input
                                                    id="automaticExpenseCode"
                                                    name="billToRadio"
                                                    type="radio"
                                                />
                                                <span></span>
                                                {{ l('AutomaticExpenseCode') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('ExpenseBranch') }}</label>
                                        <select class="form-control">
                                            <option>Branch 1</option>
                                            <option>Branch 2</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">{{ l('ExpenseDepartment') }}</label>
                                        <select class="form-control">
                                            <option>Department 1</option>
                                            <option>Department 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6">
                                        <label for="">{{ l('ExpenseCode') }}</label>
                                        <select class="form-control">
                                            <option>Code 1</option>
                                            <option>Code 2</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 align-option-btns">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('ReWork') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 align-option-btns">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('TravelTime') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 align-option-btns">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('GuaranteedMaint') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('RequireSerial') }} #
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('LostTime') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="checkbox-list mb-2">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                />
                                                <span></span>
                                                {{ l('ExcludeFromCreditLimitChecks') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                    <div class="mt-30">
                        <p class="font-italic">{{ l('AddedBy') }}: Terry Eutsler on 08/22/2019 11:00:29 PM</p>
                        <p class="font-italic">{{ l('ChangedBy') }}: Adam Madsen on 04/25/2022 11:00:29 PM</p>
                    </div>
                </div>
            </div>
        </div>
        <replicateSaleCodesModal #replicateSaleCodesModal></replicateSaleCodesModal>
        <addlDistSaleCodesModal #addlDistSaleCodesModal></addlDistSaleCodesModal>
        <eqGroupDistSaleCodesModal #eqGroupDistSaleCodesModal></eqGroupDistSaleCodesModal>
        <eqMakeDistSaleCodesModal #eqMakeDistSaleCodesModal></eqMakeDistSaleCodesModal>
        <customerSearchSaleCodesModal #customerSearchSaleCodesModal></customerSearchSaleCodesModal>
    </div>
</div>
