<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="Branch_TaxSetup_StateSalesTaxLabel">{{ l('StateSalesTaxLabel') }}</label>
                    <input type="text" id="Branch_TaxSetup_StateSalesTaxLabel" class="form-control"
                        [placeholder]="l('StateSalesTaxLabel')" name="Branch_TaxSetup_StateSalesTaxLabel" />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" name="UseStateTaxCodeDescription" value="true" />
                        <span></span>
                        {{ l('UseStateTaxCodeDescription') }}
                    </label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="Branch_TaxSetup_CountrySalesTaxLabel">{{ l('CountrySalesTaxLabel') }}</label>
                    <input type="text" id="Branch_TaxSetup_CountrySalesTaxLabel" class="form-control"
                        [placeholder]="l('CountrySalesTaxLabel')" name="Branch_TaxSetup_CountrySalesTaxLabel" />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" name="UseCountryTaxCodeDescription" value="true" />
                        <span></span>
                        {{ l('UseCountryTaxCodeDescription') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="Branch_TaxSetup_CitySalesTaxLabel">{{ l('CitySalesTaxLabel') }}</label>
                    <input type="text" id="Branch_TaxSetup_CitySalesTaxLabel" class="form-control"
                        [placeholder]="l('CitySalesTaxLabel')" name="Branch_TaxSetup_CitySalesTaxLabel" />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" name="UseCityTaxCodeDescription" value="true" />
                        <span></span>
                        {{ l('UseCityTaxCodeDescription') }}
                    </label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="Branch_TaxSetup_LocalSalesTaxLabel">{{ l('LocalSalesTaxLabel') }}</label>
                    <input type="text" id="Branch_TaxSetup_LocalSalesTaxLabel" class="form-control"
                        [placeholder]="l('LocalSalesTaxLabel')" name="Branch_TaxSetup_LocalSalesTaxLabel" />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" name="UseLocalTaxCodeDescription" value="true" />
                        <span></span>
                        {{ l('UseLocalTaxCodeDescription') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" name="ShopSplitSalesTax" value="true" />
                        <span></span>
                        {{ l('ShopSplitSalesTax') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>{{ l('WhenTaxedAtDelearshipUseTheFollowing') }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Branch_TaxSetup_StandardTaxCode">{{ l('StandardTaxCode') }}</label>
                    <p-dropdown id="Branch_TaxSetup_StandardTaxCode" [options]="taxCodes" optionValue="id"
                        optionLabel="code" [placeholder]="l('StandardTaxCode')" [showClear]="true">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" name="UseAbsoluteTaxCodes" value="true" />
                        <span></span>
                        {{ l('UseAbsoluteTaxCodes') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Branch_TaxSetup_StateTaxCode">{{ l('StateTaxCode') }}</label>
                    <input type="text" id="Branch_TaxSetup_StateTaxCode" class="form-control"
                        [placeholder]="l('StateTaxCode')" name="Branch_TaxSetup_StateTaxCode" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="Branch_TaxSetup_CountryTaxCode">{{ l('CountryTaxCode') }}</label>
                    <input type="text" id="Branch_TaxSetup_CountryTaxCode" class="form-control"
                        [placeholder]="l('CountryTaxCode')" name="Branch_TaxSetup_CountryTaxCode" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Branch_TaxSetup_CityTaxCode">{{ l('CityTaxCode') }}</label>
                    <input type="text" id="Branch_TaxSetup_CityTaxCode" class="form-control"
                        [placeholder]="l('CityTaxCode')" name="Branch_TaxSetup_CityTaxCode" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="Branch_TaxSetup_LocalTaxCode">{{ l('LocalTaxCode') }}</label>
                    <input type="text" id="Branch_TaxSetup_LocalTaxCode" class="form-control"
                        [placeholder]="l('LocalTaxCode')" name="Branch_TaxSetup_LocalTaxCode" />
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <p>{{ l('AddedBy') }}: ADDED_BY_NAME_HERE on {{ '01/01/2021' | date: 'MM/dd/yyyy' }} </p>
                <p>{{ l('ChangedBy') }}: ADDED_BY_NAME_HERE on {{ '01/01/2021' | date: 'MM/dd/yyyy' }} </p>
            </div>
        </div>
    </div>
</div>