<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="TaxSetup_StateSalesTaxLabel">{{ l('StateSalesTaxLabel') }}</label>
                    <input
                        type="text"
                        id="TaxSetup_StateSalesTaxLabel"
                        class="form-control"
                        [placeholder]="l('StateSalesTaxLabel')"
                        name="TaxSetup_StateSalesTaxLabel"
                    />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input
                            type="checkbox"
                            name="UseStateTaxCodeDescription"
                            value="true"
                        />
                        <span></span>
                        {{ l('UseStateTaxCodeDescription') }}
                    </label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="TaxSetup_CountrySalesTaxLabel">{{ l('CountrySalesTaxLabel') }}</label>
                    <input
                        type="text"
                        id="TaxSetup_CountrySalesTaxLabel"
                        class="form-control"
                        [placeholder]="l('CountrySalesTaxLabel')"
                        name="TaxSetup_CountrySalesTaxLabel"
                    />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input
                            type="checkbox"
                            name="UseCountryTaxCodeDescription"
                            value="true"
                        />
                        <span></span>
                        {{ l('UseCountryTaxCodeDescription') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="TaxSetup_CitySalesTaxLabel">{{ l('CitySalesTaxLabel') }}</label>
                    <input
                        type="text"
                        id="TaxSetup_CitySalesTaxLabel"
                        class="form-control"
                        [placeholder]="l('CitySalesTaxLabel')"
                        name="TaxSetup_CitySalesTaxLabel"
                    />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input
                            type="checkbox"
                            name="UseCityTaxCodeDescription"
                            value="true"
                        />
                        <span></span>
                        {{ l('UseCityTaxCodeDescription') }}
                    </label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="TaxSetup_LocalSalesTaxLabel">{{ l('LocalSalesTaxLabel') }}</label>
                    <input
                        type="text"
                        id="TaxSetup_LocalSalesTaxLabel"
                        class="form-control"
                        [placeholder]="l('LocalSalesTaxLabel')"
                        name="TaxSetup_LocalSalesTaxLabel"
                    />
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input
                            type="checkbox"
                            name="UseLocalTaxCodeDescription"
                            value="true"
                        />
                        <span></span>
                        {{ l('UseLocalTaxCodeDescription') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input
                            type="checkbox"
                            name="ShopSplitSalesTax"
                        />
                        <span></span>
                        {{ l('ShopSplitSalesTax') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>{{ l('WhenTaxedAtDelearshipUseTheFollowing') }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="TaxSetup_StandardTaxCode">{{ l('StandardTaxCode') }}</label>
                    <p-dropdown 
                        id="Branch_StandardTaxCode"
                        [options]="standardTaxCodes"
                        optionLabel="taxCode"
                        [showClear]="true"
                        optionValue="id">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center mt-5">
                <div class="form-group">
                    <label class="checkbox checkbox-outline">
                        <input
                            type="checkbox"
                            name="UseAbsoluteTaxCodes"
                            value="true"
                            (change)="onChangeUseAbsoluteTaxCodesStatus()"
                        />
                        <span></span>
                        {{ l('UseAbsoluteTaxCodes') }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="TaxSetup_StateTaxCode">{{ l('StateTaxCode') }}</label>
                    <p-dropdown 
                        *ngIf="isUseAbsoluteTaxCodesChecked"
                        id="Branch_StateTaxCode"
                        [options]="stateTaxCodes"
                        optionLabel="taxCode"
                        [showClear]="true"
                        optionValue="id">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="TaxSetup_CountryTaxCode">{{ l('CountryTaxCode') }}</label>
                    <p-dropdown
                        *ngIf="isUseAbsoluteTaxCodesChecked" 
                        id="Branch_CountryTaxCode"
                        [options]="countyTaxCodes"
                        optionLabel="taxCode"
                        [showClear]="true"
                        optionValue="id">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="TaxSetup_CityTaxCode">{{ l('CityTaxCode') }}</label>
                    <p-dropdown
                        *ngIf="isUseAbsoluteTaxCodesChecked" 
                        id="Branch_CityTaxCode"
                        [options]="cityTaxCodes"
                        optionLabel="taxCode"
                        [showClear]="true"
                        optionValue="id">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="TaxSetup_LocalTaxCode">{{ l('LocalTaxCode') }}</label>
                    <p-dropdown
                        *ngIf="isUseAbsoluteTaxCodesChecked"
                        id="Branch_LocalTaxCode"
                        [options]="localTaxCodes"
                        optionLabel="taxCode"
                        [showClear]="true"
                        optionValue="id">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <p>{{ l('AddedBy') }}: ADDED_BY_NAME_HERE on {{ '01/01/2021' | date: 'MM/dd/yyyy' }} </p>
                <p>{{ l('ChangedBy') }}: ADDED_BY_NAME_HERE on {{ '01/01/2021' | date: 'MM/dd/yyyy' }} </p>
            </div>
        </div>
    </div>
</div>