<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="TVH_AccountNo">{{ l('TVHAccountNo') }}</label>
                    <input type="text" id="TVH_AccountNo" class="form-control" [placeholder]="l('TVHAccountNo')"
                        name="TVH_AccountNo"
                        [(ngModel)]="branchForEdit.tvhAccountNo"
                        />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="TVH_Key">{{ l('TVHKey') }}</label>
                    <input type="text" id="TVH_Key" class="form-control" [placeholder]="l('TVHKey')" name="TVH_Key" 
                    [(ngModel)]="branchForEdit.tvhKey"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="TVH_Country">{{ l('Country') }}</label>
                    <p-dropdown id="TVH_Country" [options]="countries" optionValue="id" optionLabel="name"
                        [placeholder]="l('Country')" [showClear]="true" 
                        [(ngModel)]="branchForEdit.tvhCountryId"
                        [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="TVH_Warehouse">{{ l('Warehouse') }}</label>
                    <p-dropdown id="TVH_Warehouse" [options]="tvhWarehouses" optionValue="key" optionLabel="name"
                        [placeholder]="l('Warehouse')" [showClear]="true" 
                        [(ngModel)]="branchForEdit.tvhWarehouse"
                        [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>