<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <h3>{{ l('PrintFinalAutoCcBcc') }}</h3>
        <div class="row">
            <div class="col-6 form-group">
                <label for="Branch_Email_PrintFinalCc">{{ l('PrintFinalCc') }}</label>
                <input type="text" id="Branch_Email_PrintFinalCc" name="branchEmailPrintFinalCc" class="form-control"
                    [placeholder]="l('PrintFinalCc')" [(ngModel)]="branchForEdit.printFinalCc" />
            </div>
            <div class="col-6 form-group">
                <label for="Branch_Email_PrintFinalBcc">{{ l('PrintFinalBcc') }}</label>
                <input type="text" id="Branch_Email_PrintFinalBcc" name="branchEmailPrintFinalBcc" class="form-control"
                    [placeholder]="l('PrintFinalBcc')" [(ngModel)]="branchForEdit.printFinalBcc">
            </div>
        </div>
    </div>
</div>