<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <h3>{{ l('PrintFinalAutoCcBcc') }}</h3>
        <div class="row">
            <div class="col-6 form-group">
                <label for="Branch_Email_PrintFinalCc">{{ l('PrintFinalCc') }}</label>
                <input type="text" id="Branch_Email_PrintFinalCc" name="branchEmailPrintFinalCc" class="form-control"
                    [ngClass]="{'is-invalid': !printFinalCcValid}" [placeholder]="l('PrintFinalCc')"
                    [(ngModel)]="upsertBranchDto.printFinalCc" (input)="printFinalCcOnInput()" [disabled]="isViewMode" />
            </div>
            <div class="col-6 form-group">
                <label for="Branch_Email_PrintFinalBcc">{{ l('PrintFinalBcc') }}</label>
                <input type="text" id="Branch_Email_PrintFinalBcc" name="branchEmailPrintFinalBcc" class="form-control"
                    [ngClass]="{'is-invalid': !printFinalBccValid}" [placeholder]="l('PrintFinalBcc')"
                    [(ngModel)]="upsertBranchDto.printFinalBcc" (input)="printFinalBccOnInput()" [disabled]="isViewMode" />
            </div>
        </div>
    </div>
</div>