<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <form class="form" autocomplete="off">
            <div>
                <div class="row">
                    <div class="col-12">
                        <div class="card card-custom card-in-tab gutter-b">
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button
                                            (click)="add()"
                                            class="btn btn-primary blue"
                                            [buttonBusy]="saving"
                                        >
                                            <i class="fa fa-plus pr-3"></i>
                                            <span>{{ l('Add') }}</span>
                                        </button>
                                        <button
                                            (click)="delete()"
                                            class="btn btn-primary blue"
                                            [buttonBusy]="saving"
                                        >
                                            <i class="fa fa-times pr-3"></i>
                                            <span>{{ l('Delete') }}</span>
                                        </button>
                                        <button
                                            (click)="update()"
                                            class="btn btn-primary blue"
                                            [buttonBusy]="saving"
                                        >
                                            <i class="fa fa-check pr-3"></i>
                                            <span>{{ l('Update') }}</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h3><i class="fas fa-user-alt text-dark pr-3"></i>{{ l('TaxCodesSetup') }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="TaxCode">{{ l('TaxCode') }}</label>                                                                
                                                    <p-dropdown 
                                                                id="TaxCode"
                                                                options="taxCodes"
                                                                optionLabel="displayName"
                                                                [showClear]="true"
                                                                optionValue="code">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex align-items-center mt-5">
                                                <div class="form-group">
                                                    <label class="checkbox checkbox-outline">
                                                        <input
                                                            type="checkbox"
                                                            name="OverRideType"
                                                        />
                                                        <span></span>
                                                        {{ l('OverRideType') }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="TotalRate">{{ l('TotalRate') }}</label>                                                                
                                                    <input
                                                        type="text"
                                                        id="TotalRate"
                                                        class="form-control"
                                                        [placeholder]="l('TotalRate')"
                                                        name="TotalRate"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">                                            
                                            <div class="col-6 d-flex align-items-center justify-content-between">
                                                <div class="form-group flex-grow-1 pr-2">
                                                    <label for="AccountNo">
                                                        {{ l('AccountNo') }}
                                                    </label>
                                                    <input
                                                        type="text"
                                                        id="AccountNo"
                                                        class="form-control"
                                                        [placeholder]="l('AccountNo')"
                                                        name="AccountNo"
                                                    />

                                                </div>
                                                <button class="btn btn-primary text-primary p-2 mt-1">
                                                    <i class="fa fa-search p-0"></i>
                                                </button>
                                            </div>                                            
                                            <div class="col-6 d-flex align-items-center justify-content-between">
                                                <div class="form-group flex-grow-1 pr-2">
                                                    <label for="RentalAccountNo">
                                                        {{ l('RentalAccountNo') }}
                                                    </label>
                                                    <input
                                                        type="text"
                                                        id="RentalAccountNo"
                                                        class="form-control"
                                                        [placeholder]="l('RentalAccountNo')"
                                                        name="RentalAccountNo"
                                                    />

                                                </div>
                                                <button class="btn btn-primary text-primary p-2 mt-1">
                                                    <i class="fa fa-search p-0"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="CountryPortionRate">
                                                        {{ l('CountryPortionRate') }}
                                                    </label>
                                                    <input
                                                        type="text"
                                                        id="CountryPortionRate"
                                                        class="form-control"
                                                        [placeholder]="l('CountryPortionRate')"
                                                        name="CountryPortionRate"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-between">
                                                <div class="form-group flex-grow-1 pr-2">
                                                    <label for="AccountNo">
                                                        {{ l('AccountNo') }}
                                                    </label>
                                                    <input
                                                        type="text"
                                                        id="AccountNo"
                                                        class="form-control"
                                                        [placeholder]="l('AccountNo')"
                                                        name="AccountNo"
                                                    />

                                                </div>
                                                <button class="btn btn-primary text-primary p-2 mt-1">
                                                    <i class="fa fa-search p-0"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="MaximumAmount">{{ l('MaximumAmount') }}</label>
                                                    <input
                                                        type="text"
                                                        id="MaximumAmount"
                                                        class="form-control"
                                                        [placeholder]="l('MaximumAmount')"
                                                        name="MaximumAmount"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="AccountNoOncePaid">{{ l('AccountNoOncePaid') }}</label>
                                                    <input
                                                        type="text"
                                                        id="AccountNoOncePaid"
                                                        class="form-control"
                                                        [placeholder]="l('AccountNoOncePaid')"
                                                        name="AccountNoOncePaid"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="Description">
                                                        {{ l('Description') }}
                                                    </label>
                                                    <input
                                                        type="text"
                                                        id="Description"
                                                        class="form-control"
                                                        [placeholder]="l('Description')"
                                                        name="Description"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="Country">
                                                        {{ l('Country') }}
                                                    </label>
                                                    <input
                                                        type="text"
                                                        id="Country"
                                                        class="form-control"
                                                        [placeholder]="l('Country')"
                                                        name="Country"
                                                    />
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center mt-5">
                                                <div class="form-group">
                                                    <label class="checkbox checkbox-outline">
                                                        <input
                                                            type="checkbox"
                                                            name="PartsNonTaxable"
                                                        />
                                                        <span></span>
                                                        {{ l('PartsNonTaxable') }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex align-items-center mt-5">
                                                <div class="form-group">
                                                    <label class="checkbox checkbox-outline">
                                                        <input
                                                            type="checkbox"
                                                            name="LaborNonTaxable"
                                                        />
                                                        <span></span>
                                                        {{ l('LaborNonTaxable') }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex align-items-center mt-5">
                                                <div class="form-group">
                                                    <label class="checkbox checkbox-outline">
                                                        <input
                                                            type="checkbox"
                                                            name="MiscNonTaxable"
                                                        />
                                                        <span></span>
                                                        {{ l('MiscNonTaxable') }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex align-items-center mt-5">
                                                <div class="form-group">
                                                    <label class="checkbox checkbox-outline">
                                                        <input
                                                            type="checkbox"
                                                            name="RentalNonTaxable"
                                                        />
                                                        <span></span>
                                                        {{ l('RentalNonTaxable') }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center mt-5">
                                                <div class="form-group">
                                                    <label class="checkbox checkbox-outline">
                                                        <input
                                                            type="checkbox"
                                                            name="EquipmentNonTaxable"
                                                        />
                                                        <span></span>
                                                        {{ l('EquipmentNonTaxable') }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="Comments">{{ l('Comments') }}</label>
                                                    <textarea
                                                        id="Comments"
                                                        class="form-control"
                                                        rows="6"
                                                        name="Comments"
                                                    ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>