<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div role="actions" class="d-flex justify-content-between">
                        <div>
                            <strong>{{ 'AssignedUsers' | localize }}</strong>
                        </div>
                        <div>
                            <button *ngIf="canAssignUser" (click)="createAccountUser()"
                                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("User")}}</button>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12"
                             [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable
                                     (onLazyLoad)="loadDataTable($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 50px"
                                            [hidden]="!isGrantedAny('Pages.AccountUsers.Edit', 'Pages.AccountUsers.Delete')">{{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="userFk.name">
                                            {{l('Name')}}
                                            <p-sortIcon field="userName"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr>
                                        <td style="width: 50px"
                                            [hidden]="!isGrantedAny('Pages.AccountUsers.Edit', 'Pages.AccountUsers.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-secondary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:;"
                                                           *ngIf="permission.isGranted('Pages.AccountUsers.Delete') && this.componentType == 'Account'"
                                                           (click)="deleteAccountUser(record.accountUser)">{{l('Delete')}}</a>

                                                        <a class="dropdown-item" href="javascript:;"
                                                           *ngIf="permission.isGranted('Pages.LeadUsers.Delete') && this.componentType == 'Lead'"
                                                           (click)="deleteLeadUser(record.leadUser)">{{l('Delete')}}</a>
                                                       
                                                        <a class="dropdown-item" href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.OpportunityUsers.Delete') && this.componentType == 'Opportunity'"
                                                        (click)="deleteOpportunityUser(record.opportunityUser)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px" *ngIf="'Account' === this.componentType">
                                            <span class="p-column-title"> {{l('Name')}}</span>
                                            {{record.fullName}}
                                        </td>
                                        <td style="width:150px" *ngIf="'Lead' === this.componentType">
                                            <span class="p-column-title"> {{l('Name')}}</span>
                                            {{record.userName}}
                                        </td>
                                        <td style="width:150px" *ngIf="'Opportunity' === this.componentType">
                                            <span class="p-column-title"> {{l('Name')}}</span>
                                            {{record.userName}}
                                        </td>

                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                             #paginator
                                             (onPageChange)="loadDataTable($event)"
                                             [totalRecords]="primengTableHelper.totalRecordsCount"
                                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                             [showCurrentPageReport]="true"
                                             [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount"
                                >
                                </p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <app-create-or-edit-assined-user-modal #createOrEditAssignedUserModal
                                               (assignedUsers)="savingAssignedUsers($event)"
                                               [assignedUsersExists]="this.assignedUsersExists"
                                               [excludeSelectedItemsInMultiSelect]="true"
                                               [componentType]="this.componentType">
        </app-create-or-edit-assined-user-modal>
        <app-view-assigned-user-modal #viewAssignedUserModal></app-view-assigned-user-modal>

    </div>
</div>
