<div bsModal #createOrEditModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div *ngIf="active">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Assigned Users
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
					<div class="col-md-8 offset-md-2">                 
                        <p-listbox 
                            [options]="this.allUsers" 
                            [(ngModel)]="this.selectedUsers" 
                            [metaKeySelection]="false"
                            [checkbox]="true"
                            [multiple]="true" 
                            optionLabel="displayName"
                            [filter]="true"
                            [listStyle]="{'max-height':'300px'}" 
                            [style]="{'border':'none'}">
                        </p-listbox>                        
                    </div>                   
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" (click)="confirm()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><span>Confirm</span></button>
                </div>
            </div>
        </div>
    </div>

</div>