<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-between">
                <div class="form-group flex-grow-1 pr-2">
                    <label for="Branch_Finance_ChargeGLAccount">{{ l('FinanceChargeGLAccount') }}</label>
                    <input type="text" id="Branch_Finance_ChargeGLAccount" name="branchFinanceChargeGLAccount"
                        class="form-control" [placeholder]="l('FinanceChargeGLAccount')"
                        [(ngModel)]="branchForEdit.financeCharge" />
                </div>
                <button class="btn btn-primary text-primary p-2 mt-1">
                    <i class="fa fa-search p-0"></i>
                </button>
            </div>
            <div class="col-6 form-group">
                <label for="Branch_Finance_Rate">{{ l('Rate') }}</label>
                <input type="text" id="Branch_Finance_Rate" name="branchFinanceRate" class="form-control"
                    [placeholder]="l('Rate')" [(ngModel)]="branchForEdit.financeRate" />
            </div>
        </div>
        <div class="row">
            <div class="col-6 form-group">
                <label for="Branch_Finance_DaysLate">{{ l('DaysLate') }}</label>
                <input type="text" id="Branch_Finance_DaysLate" name="branchFinanceDaysLate" class="form-control"
                    [placeholder]="l('DaysLate')" [(ngModel)]="branchForEdit.financeDays" />
            </div>
        </div>
        <h3>{{ l('UseForCreditPayments') }}</h3>
        <div class="row">
            <div class="col-6 form-group">
                <label for="Branch_Finance_StoreName">{{ l('StoreName') }}</label>
                <input type="text" id="Branch_Finance_StoreName" name="branchFinanceStoreName" class="form-control"
                    [placeholder]="l('StoreName')" [(ngModel)]="branchForEdit.storeName" />
            </div>
            <div class="col-6 d-flex align-items-center justify-content-between">
                <div class="form-group flex-grow-1 pr-2">
                    <label for="Branch_Finance_CreditCardDebitAccountNo">{{ l('CreditCardDebitAccountNo') }}</label>
                    <input type="text" id="Branch_Finance_CreditCardDebitAccountNo"
                        name="branchFinanceCreditCardDebitAccountNo" class="form-control"
                        [ngClass]="{'is-invalid': !isAccountNumberValid}" [placeholder]="l('CreditCardDebitAccountNo')"
                        [(ngModel)]="branchForEdit.creditCardAccountNo" (keyup)="creditCardDebitAccountNoOnKeyUp()" />
                </div>
                <button class="btn btn-primary text-primary p-2 mt-1">
                    <i class="fa fa-search p-0"></i>
                </button>
            </div>
        </div>
    </div>
</div>