<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-between">
                <div class="form-group flex-grow-1 pr-2">
                    <label for="Finance_ChargeGLAccount">{{ l('FinanceChargeGLAccount') }}</label>
                    <input
                        type="text"
                        id="Finance_ChargeGLAccount"
                        class="form-control"
                        [placeholder]="l('FinanceChargeGLAccount')"
                        name="Finance_ChargeGLAccount"
                    />

                </div>
                <button class="btn btn-primary text-primary p-2 mt-1">
                    <i class="fa fa-search p-0"></i>
                </button>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="Finance_Rate">{{ l('Rate') }}</label>
                    <input
                        type="text"
                        id="Finance_Rate"
                        class="form-control"
                        [placeholder]="l('Rate')"
                        name="Finance_Rate"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Finance_DaysLate">{{ l('DaysLate') }}</label>
                    <input
                        type="text"
                        id="Finance_DaysLate"
                        class="form-control"
                        [placeholder]="l('DaysLate')"
                        name="Finance_DaysLate"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>{{ l('UseForCreditPayments') }}</h3>
            </div>
        </div>
        <div class="row">
            
            <div class="col-6">
                <div class="form-group">
                    <label for="Finance_StoreName">{{ l('StoreName') }}</label>
                    <input
                        type="text"
                        id="Finance_StoreName"
                        class="form-control"
                        [placeholder]="l('StoreName')"
                        name="Finance_StoreName"
                    />
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-between">
                <div class="form-group flex-grow-1 pr-2">
                    <label for="Finance_CreditCardDebitAccountNo">{{ l('CreditCardDebitAccountNo') }}</label>
                    <input
                        type="text"
                        id="Finance_CreditCardDebitAccountNo"
                        class="form-control"
                        [placeholder]="l('CreditCardDebitAccountNo')"
                        name="Finance_CreditCardDebitAccountNo"
                    />

                </div>
                <button class="btn btn-primary text-primary p-2 mt-1">
                    <i class="fa fa-search p-0"></i>
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <p>{{ l('AddedBy') }}: ADDED_BY_NAME_HERE on {{ '01/01/2021' | date: 'MM/dd/yyyy' }} </p>
                <p>{{ l('ChangedBy') }}: ADDED_BY_NAME_HERE on {{ '01/01/2021' | date: 'MM/dd/yyyy' }} </p>
            </div>
        </div>
    </div>
</div>