<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #opportunityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="opportunity.id">{{ l('EditOpportunity') }}</span>
                        <span *ngIf="!opportunity.id">{{ l('CreateNewOpportunity') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="OpportunityStageDescription">{{ l('OpportunityStage') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="OpportunityStageDescription"
                                name="opportunityStageDescription"
                                [(ngModel)]="opportunityStageDescription"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectOpportunityStageModal()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button
                                    class="btn btn-danger btn-icon"
                                    type="button"
                                    (click)="setOpportunityStageIdNull()"
                                >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="opportunity.opportunityStageId"
                        [(ngModel)]="opportunity.opportunityStageId"
                        type="text"
                        hidden
                    />

                    <div class="form-group m-form__group">
                        <label for="LeadSourceDescription">{{ l('LeadSource') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="LeadSourceDescription"
                                name="leadSourceDescription"
                                [(ngModel)]="leadSourceDescription"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectLeadSourceModal()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setLeadSourceIdNull()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="opportunity.leadSourceId"
                        [(ngModel)]="opportunity.leadSourceId"
                        type="text"
                        hidden
                    />

                    <div class="form-group m-form__group">
                        <label for="OpportunityTypeDescription">{{ l('OpportunityType') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="OpportunityTypeDescription"
                                name="opportunityTypeDescription"
                                [(ngModel)]="opportunityTypeDescription"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectOpportunityTypeModal()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button
                                    class="btn btn-danger btn-icon"
                                    type="button"
                                    (click)="setOpportunityTypeIdNull()"
                                >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="opportunity.opportunityTypeId"
                        [(ngModel)]="opportunity.opportunityTypeId"
                        type="text"
                        hidden
                    />

                    <div class="form-group">
                        <label for="Opportunity_Name">{{ l('Name') }} *</label>
                        <input
                            type="text"
                            #Opportunity_Name="ngModel"
                            id="Opportunity_Name"
                            class="form-control"
                            [(ngModel)]="opportunity.name"
                            name="Name"
                            minlength="1"
                            maxlength="150"
                            required
                        />
                        <validation-messages [formCtrl]="Opportunity_Name"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Opportunity_Amount">{{ l('Amount') }}</label>
                        <input
                            type="number"
                            #Opportunity_Amount="ngModel"
                            id="Opportunity_Amount"
                            class="form-control"
                            [(ngModel)]="opportunity.amount"
                            name="Amount"
                            min="1"
                            max="18"
                        />
                        <validation-messages [formCtrl]="Opportunity_Amount"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Opportunity_Probability">{{ l('Probability') }}</label>
                        <input
                            type="number"
                            #Opportunity_Probability="ngModel"
                            id="Opportunity_Probability"
                            class="form-control"
                            [(ngModel)]="opportunity.probability"
                            name="Probability"
                            min="1"
                            max="18"
                        />
                        <validation-messages [formCtrl]="Opportunity_Probability"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Opportunity_CloseDate">{{ l('CloseDate') }}</label>
                        <input
                            required
                            class="form-control m-input"
                            #Opportunity_CloseDate
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="opportunity.closeDate"
                            id="Opportunity_CloseDate"
                            name="Opportunity_CloseDate"
                        />
                        <validation-messages [formCtrl]="Opportunity_CloseDate"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Opportunity_Description">{{ l('Description') }}</label>
                        <input
                            type="text"
                            #Opportunity_Description="ngModel"
                            id="Opportunity_Description"
                            class="form-control"
                            [(ngModel)]="opportunity.description"
                            name="Description"
                        />
                        <validation-messages [formCtrl]="Opportunity_Description"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Opportunity_Branch">{{ l('Branch') }}</label>
                        <input
                            type="text"
                            #Opportunity_Branch="ngModel"
                            id="Opportunity_Branch"
                            class="form-control"
                            [(ngModel)]="opportunity.branch"
                            name="Branch"
                            minlength="1"
                            maxlength="100"
                        />
                        <validation-messages [formCtrl]="Opportunity_Branch"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Opportunity_Department">{{ l('Department') }}</label>
                        <input
                            type="text"
                            #Opportunity_Department="ngModel"
                            id="Opportunity_Department"
                            class="form-control"
                            [(ngModel)]="opportunity.department"
                            name="Department"
                            minlength="1"
                            maxlength="100"
                        />
                        <validation-messages [formCtrl]="Opportunity_Department"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!opportunityForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <opportunityOpportunityStageLookupTableModal
        #opportunityOpportunityStageLookupTableModal
        (modalSave)="getNewOpportunityStageId()"
    ></opportunityOpportunityStageLookupTableModal>
    <opportunityLeadSourceLookupTableModal
        #opportunityLeadSourceLookupTableModal
        (modalSave)="getNewLeadSourceId()"
    ></opportunityLeadSourceLookupTableModal>
    <opportunityOpportunityTypeLookupTableModal
        #opportunityOpportunityTypeLookupTableModal
        (modalSave)="getNewOpportunityTypeId()"
    ></opportunityOpportunityTypeLookupTableModal>
</div>
