<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Name') }} :</h6>
                        {{ item.opportunity.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Amount') }} :</h6>
                        {{ item.opportunity.amount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Probability') }} :</h6>
                        {{ item.opportunity.probability }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('CloseDate') }} :</h6>
                        {{ item.opportunity.closeDate | luxonFormat: 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Description') }} :</h6>
                        {{ item.opportunity.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Branch') }} :</h6>
                        {{ item.opportunity.branch }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Department') }} :</h6>
                        {{ item.opportunity.department }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('OpportunityStage') }}) {{ l('Description') }} :</h6>
                        {{ item.opportunityStageDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('LeadSource') }}) {{ l('Description') }} :</h6>
                        {{ item.leadSourceDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('OpportunityType') }}) {{ l('Description') }} :</h6>
                        {{ item.opportunityTypeDescription }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
