<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="form">
            <form>
                <div class="form-body">
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <label for="">{{ l('CommentsToAppearOnInvoices') }}</label>
                            <textarea
                                pInputTextarea
                                class="w-100"
                                rows="10"
                                id="companyInvoiceCommentsInvoicesTextarea"
                            ></textarea>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <label for="">{{ l('CommentsToAppearInBodyOfEmail') }}</label>
                            <textarea
                                pInputTextarea
                                class="w-100"
                                rows="10"
                                id="companyInvoiceCommentsBodyOfEmailTextarea"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
        <div class="mt-30">
            <p class="font-italic">{{ l('ChangedBy') }}: Adam Madsen on 04/25/2022 11:00:29 PM</p>
        </div>
    </div>
</div>
