<div class="content d-flex flex-column flex-column-fluid">
    <div class="row align-items-center">
        <form class="form w-100" autocomplete="off">
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="miscDescription">{{ l('MiscDescription') }}</label>
                        <p-dropdown id="miscDescription" name="miscDescription" [options]="miscDescriptions"
                            [(ngModel)]="department.branch" optionLabel="displayName" [style]="{'width':'100%'}"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="miscPercentage">{{ l('MiscPercentage') }}</label>
                        <input type="text" id="miscPercentage" name="miscPercentage" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="miscSaleAccount">{{ l('MiscSaleAccount') }}</label>
                        <div class="p-inputgroup">
                            <input pInputText id="miscSaleAccount" name="miscSaleAccount" class="form-control">
                            <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-primary"
                                (click)="searchAccount()"></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">{{ l('MaxAmount') }}</label>
                        <input type="text" id="maxAmount" name="maxAmount" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">{{ l('MinAmount') }}</label>
                        <input type="text" id="minAmount" name="minAmount" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="taxCodeOverride">{{ l('TaxCodeOverride') }}</label>
                        <div class="p-inputgroup">
                            <input pInputText id="taxCodeOverride" name="taxCodeOverride" [(ngModel)]="taxCode"
                                class="form-control">
                            <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-primary"
                                (click)="searchTaxCode()"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-3">
                    <div class="form-group">
                        <p-checkbox [label]="l('RentalReoccur')" name="rentalReoccur"
                            [(ngModel)]="department.allowPartsPricingOverride" [binary]="true" labelStyleClass="mb-0">
                        </p-checkbox>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <p-checkbox [label]="l('Taxable')" name="taxable" [(ngModel)]="department.suppressLaborHours"
                            [binary]="true" labelStyleClass="mb-0"></p-checkbox>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <p-checkbox [label]="l('CalculateOnLaborOnly')" name="calculateOnLaborOnly"
                            [(ngModel)]="department.taxAtDealer" [binary]="true" labelStyleClass="mb-0"></p-checkbox>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <p-checkbox [label]="l('CalculateOnPartsOnly')" name="calculateOnPartsOnly"
                            [(ngModel)]="department.noCreditCardTransactions" [binary]="true" labelStyleClass="mb-0">
                        </p-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">{{ l('AdditionalLaborHours') }}</label>
                        <input type="text" id="additionalLaborHours" name="additionalLaborHours" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="maxAmount">{{ l('Mechanic') }} #</label>
                            <input type="text" id="mehanicNo" name="mehanicNo" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="taxCodeOverride">{{ l('AdditionalSaleAccount') }}</label>
                        <div class="p-inputgroup">
                            <input pInputText id="additionalSaleAccount" name="additionalSaleAccount"
                                class="form-control">
                            <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-primary"
                                (click)="searchTaxCode()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12 pt-5">
            <div class="font-italic">
                <span>{{ l('AddedBy') }}:</span>
            </div>
            <div class="font-italic">
                <span>{{ l('ChangedBy') }}:</span>
            </div>
        </div>
    </div>
</div>
<taxCodeSearchModal #taxCodeSearchModal (messageEvent)="receiveMessage($event)"></taxCodeSearchModal>