<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #opportunityStageForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="opportunityStage.id">{{ l('EditOpportunityStage') }}</span>
                        <span *ngIf="!opportunityStage.id">{{ l('NewOpportunityStage') }}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="OpportunityStage_Description">{{ l('StageName') }} <span class="color-red">*</span></label>
                        <input
                            type="text"
                            #OpportunityStage_Description="ngModel"
                            id="OpportunityStage_Description"
                            class="form-control"
                            [(ngModel)]="opportunityStage.description"
                            name="Description"
                            minlength="1"
                            maxlength="100"
                            required
                            placeholder="Enter Stage Name"
                        />
                        <validation-messages [formCtrl]="OpportunityStage_Description"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label class="col-1" for="OpportunityStage_Color">{{ l('Color') }}:</label>
                        <label class="col-1">{{ opportunityStage.color }}</label>
                        <p-colorPicker
                            class="col-1"
                            #OpportunityStage_Color="ngModel"
                            id="OpportunityStage_Color"
                            [(ngModel)]="opportunityStage.color"
                            name="Color"
                            required
                        ></p-colorPicker>
                        <validation-messages [formCtrl]="OpportunityStage_Color"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!opportunityStageForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <span>{{ isCreateMode ? l('Add') : l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
