<div class="w-100">
    <p-tabView>
        <p-tabPanel header="Additional">
            <app-department-additional></app-department-additional>
        </p-tabPanel>
        <p-tabPanel header="Docs # / Dates">
            <app-department-docs></app-department-docs>
        </p-tabPanel>
        <p-tabPanel header="Rental / Parts">
            <app-department-rental></app-department-rental>
        </p-tabPanel>
        <p-tabPanel header="Quote">
            <app-department-quote></app-department-quote>
        </p-tabPanel>
        <p-tabPanel header="Invoice">
            <app-department-invoice></app-department-invoice>
        </p-tabPanel>
        <p-tabPanel header="Mobile">
            <app-department-mobile></app-department-mobile>
        </p-tabPanel>
    </p-tabView>
</div>