<div class="w-100">
    <p-tabView>
        <p-tabPanel [header]="l('Additional')">
            <app-department-additional></app-department-additional>
        </p-tabPanel>
        <p-tabPanel [header]="l('DocsDates')">
            <app-department-docs></app-department-docs>
        </p-tabPanel>
        <p-tabPanel [header]="l('RentalParts')">
            <app-department-rental></app-department-rental>
        </p-tabPanel>
        <p-tabPanel [header]="l('Quote')">
            <app-department-quote></app-department-quote>
        </p-tabPanel>
        <p-tabPanel [header]="l('Invoice')">
            <app-department-invoice></app-department-invoice>
        </p-tabPanel>
        <p-tabPanel [header]="l('Mobile')">
            <app-department-mobile></app-department-mobile>
        </p-tabPanel>
    </p-tabView>
</div>