<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #activityPriorityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="activityPriority.id">{{ l('EditActivityPriority') }}</span>
                        <span *ngIf="!activityPriority.id">{{ l('CreateNewActivityPriority') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ActivityPriority_Description">{{ l('Description') }} *</label>
                        <input
                            type="text"
                            #ActivityPriority_Description="ngModel"
                            id="ActivityPriority_Description"
                            class="form-control"
                            [(ngModel)]="activityPriority.description"
                            name="Description"
                            minlength="1"
                            maxlength="100"
                            required
                        />
                        <validation-messages [formCtrl]="ActivityPriority_Description"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ActivityPriority_Color">{{ l('Color') }} *</label>
                        <input
                            type="text"
                            #ActivityPriority_Color="ngModel"
                            id="ActivityPriority_Color"
                            class="form-control"
                            [(ngModel)]="activityPriority.color"
                            name="Color"
                            minlength="1"
                            maxlength="10"
                            required
                        />
                        <validation-messages [formCtrl]="ActivityPriority_Color"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ActivityPriority_Order">{{ l('Order') }}</label>
                        <input
                            type="number"
                            #ActivityPriority_Order="ngModel"
                            id="ActivityPriority_Order"
                            class="form-control"
                            [(ngModel)]="activityPriority.order"
                            name="Order"
                        />
                        <validation-messages [formCtrl]="ActivityPriority_Order"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="ActivityPriority_IsDefault" class="kt-checkbox">
                            <input
                                id="ActivityPriority_IsDefault"
                                #ActivityPriority_IsDefault="ngModel"
                                type="checkbox"
                                name="IsDefault"
                                [(ngModel)]="activityPriority.isDefault"
                            />
                            {{ l('IsDefault') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="ActivityPriority_IsDefault"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!activityPriorityForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
