<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #activitySourceTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="activitySourceType.id">{{ l('EditActivitySourceType') }}</span>
                        <span *ngIf="!activitySourceType.id">{{ l('CreateNewActivitySourceType') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ActivitySourceType_Description">{{ l('Description') }} *</label>
                        <input
                            type="text"
                            #ActivitySourceType_Description="ngModel"
                            id="ActivitySourceType_Description"
                            class="form-control"
                            [(ngModel)]="activitySourceType.description"
                            name="Description"
                            minlength="1"
                            maxlength="100"
                            required
                        />
                        <validation-messages [formCtrl]="ActivitySourceType_Description"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ActivitySourceType_Order">{{ l('Order') }}</label>
                        <input
                            type="number"
                            #ActivitySourceType_Order="ngModel"
                            id="ActivitySourceType_Order"
                            class="form-control"
                            [(ngModel)]="activitySourceType.order"
                            name="Order"
                        />
                        <validation-messages [formCtrl]="ActivitySourceType_Order"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ActivitySourceType_Code">{{ l('Code') }}</label>
                        <input
                            type="text"
                            #ActivitySourceType_Code="ngModel"
                            id="ActivitySourceType_Code"
                            class="form-control"
                            [(ngModel)]="activitySourceType.code"
                            name="Code"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="ActivitySourceType_Code"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!activitySourceTypeForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
