<div class="form-group mb-0 pb-0">
    <input
        type="text"
        (input)="filterPermissions($event)"
        [(ngModel)]="filter"
        class="form-control"
        placeholder="{{ 'SearchWithThreeDot' | localize }}"
    />
</div>
<p-tree
    [value]="treeData"
    [(selection)]="selectedPermissions"
    selectionMode="checkbox"
    (onNodeSelect)="nodeSelect($event)"
    (onNodeUnselect)="onNodeUnselect($event)"
    [propagateSelectionUp]="false"
    [scrollHeight]="'450px'"
    [propagateSelectionDown]="!disableCascade"
></p-tree>
