<div appBsModal id="termsModal" #termsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="termsModal"
    aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <form novalidate class="form form-label-right">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'TermsAndConditions' | localize }}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-hidden="true">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group row text-left mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna id volutpat. Sed euismod nisi
                        porta lorem mollis aliquam ut. Lacus sed turpis tincidunt id. Aliquet porttitor lacus luctus
                        accumsan tortor posuere. Amet consectetur adipiscing elit ut aliquam purus. Habitant morbi
                        tristique senectus et netus et malesuada. Rutrum tellus pellentesque eu tincidunt tortor. Nisl
                        suscipit adipiscing bibendum est. Diam sollicitudin tempor id eu nisl nunc mi. In hac habitasse
                        platea dictumst quisque sagittis. Ut etiam sit amet nisl purus in mollis nunc sed. Amet luctus
                        venenatis lectus magna fringilla urna porttitor rhoncus. Pulvinar proin gravida hendrerit lectus
                        a. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Phasellus egestas
                        tellus rutrum tellus pellentesque eu.

                        Faucibus nisl tincidunt eget nullam non nisi est sit amet. Consectetur a erat nam at lectus urna
                        duis. Egestas diam in arcu cursus euismod quis viverra nibh. Proin fermentum leo vel orci. Dis
                        parturient montes nascetur ridiculus mus mauris. Nulla at volutpat diam ut venenatis. Fames ac
                        turpis egestas sed tempus urna et. Dignissim diam quis enim lobortis scelerisque fermentum dui.
                        Integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Lacus luctus
                        accumsan tortor posuere ac. Morbi tristique senectus et netus et malesuada fames. Accumsan
                        tortor posuere ac ut consequat semper viverra nam libero.

                        Netus et malesuada fames ac turpis egestas sed. Cras fermentum odio eu feugiat. Dui vivamus arcu
                        felis bibendum ut. Integer quis auctor elit sed. Ac turpis egestas sed tempus. Diam sit amet
                        nisl suscipit adipiscing bibendum. Tellus mauris a diam maecenas sed enim. Ac tincidunt vitae
                        semper quis lectus nulla. Nibh cras pulvinar mattis nunc sed. Montes nascetur ridiculus mus
                        mauris vitae. Sed elementum tempus egestas sed sed. Ut etiam sit amet nisl purus. Eget dolor
                        morbi non arcu risus quis.

                        Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Tincidunt arcu non sodales
                        neque. Enim tortor at auctor urna nunc id cursus metus aliquam. Pulvinar pellentesque habitant
                        morbi tristique senectus. Fames ac turpis egestas maecenas pharetra convallis posuere. Magna
                        fringilla urna porttitor rhoncus dolor purus non. Nisi vitae suscipit tellus mauris. Enim ut
                        tellus elementum sagittis vitae et leo duis. Viverra justo nec ultrices dui sapien eget. Odio
                        morbi quis commodo odio aenean sed adipiscing. Nibh ipsum consequat nisl vel pretium lectus quam
                        id leo. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget. In iaculis
                        nunc sed augue lacus viverra vitae congue.

                        Varius quam quisque id diam vel quam elementum pulvinar etiam. At quis risus sed vulputate odio
                        ut enim blandit volutpat. Molestie a iaculis at erat pellentesque adipiscing. Justo laoreet sit
                        amet cursus. Sit amet porttitor eget dolor morbi non arcu risus. Vel fringilla est ullamcorper
                        eget. Ut diam quam nulla porttitor massa id neque. Egestas erat imperdiet sed euismod nisi
                        porta. Volutpat sed cras ornare arcu dui vivamus arcu. Arcu dictum varius duis at consectetur
                        lorem donec massa sapien. Facilisi nullam vehicula ipsum a arcu cursus. Senectus et netus et
                        malesuada. Gravida arcu ac tortor dignissim convallis aenean. In fermentum et sollicitudin ac
                        orci phasellus egestas tellus. Convallis a cras semper auctor neque vitae tempus quam
                        pellentesque. Neque sodales ut etiam sit amet nisl.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="close()" class="btn btn-primary blue">
                        {{ 'Close' | localize }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>