<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="form">
            <form>
                <div class="form-body">
                    <div class="row mb-4">
                        <div class="col-lg-3 mt-8">
                            <p-checkbox
                                [label]="l('AccrueWIPEntries')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyAccountingAccrueWIPEntriesCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-3 mt-lg-8">
                            <p-checkbox
                                [label]="l('IncludeWIPInARCreditLimitChecks')"
                                [binary]="true"
                                labelStyleClass="mb-0"
                                id="companyAccountingIncludeWIPInARCreditLimitChecksCheckbox"
                            ></p-checkbox>
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('CurrentFiscalYearStarted') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                id="companyAccountingCurrentFiscalYearStartedInput"
                            />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('CutOffDateBetween') }}</label>
                            <input type="text"
                                bsDatepicker
                                placeholder="{{ 'InputCloseDate' | localize }}"
                                class="form-control"
                                id="companyAccountingCutOffDateBetweenDatepicker"
                            />
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('And') }}</label>
                            <input type="text"
                                bsDatepicker
                                placeholder="{{ 'InputCloseDate' | localize }}"
                                class="form-control"
                                id="companyAccountingAndDatepicker"
                            />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('InvoiceCutOffDay') }}</label>
                            <p-dropdown
                                [options]="invoiceCutOffDaySelectItems"
                                [virtualScroll]="true"
                                [itemSize]="30"
                                [style]="{ width: '100%' }"
                                id="companyAccountingInvoiceCutOffDayDropdown"
                            ></p-dropdown>
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('RetainedEarningsAccount') }}</label>
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="taxCode"
                                    name="taxCode"
                                    id="companyAccountingRetainedEarningsAccountInput"
                                />
                                <div class="input-group-append">
                                    <button
                                        class="btn btn-primary"
                                        id="companyAccountingRetainedEarningsAccountBtn"
                                        (click)="accountSearch()"
                                    >
                                        <i class="flaticon-search-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('APCheckFormat') }}</label>
                            <p-dropdown
                                [options]="apCheckFormatSelectItems"
                                [virtualScroll]="true"
                                [itemSize]="30"
                                [style]="{ width: '100%' }"
                                id="companyAccountingAPCheckFormatDropdown"
                            ></p-dropdown>
                        </div>
                        <div class="col-lg-6">
                            <label for="">{{ l('CanadianDateFormat') }}</label>
                            <p-dropdown
                                [options]="canadianDateFormatSelectItems"
                                [virtualScroll]="true"
                                [itemSize]="30"
                                [style]="{ width: '100%' }"
                                id="companyAccountingCanadianDateFormatDropdown"
                            ></p-dropdown>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <label for="">{{ l('NextControlNumberSymbol') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                id="companyAccountingNextControlNumberInput"
                            />
                        </div>
                        <div class="col-lg-6 text-right mt-8">
                            <a
                                routerLink="checkFormatSetup"
                                routerLinkActive="active"
                                ariaCurrentWhenActive="page"
                                class="btn btn-primary blue text-white"
                                id="companyAccountingAPChecksFormatEditorBtn"
                            >
                                <i class="fa fa-money-check fa-lg"></i>
                                {{ l('APChecksFormatEditor') }}
                            </a>
                        </div>
                    </div>
                    <div class="row align-items-center form-row-header mt-10">
                        <i class="fa fa-user"></i>
                        {{ l('NextJournalName') }}
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-1 form-row-header mt-8">
                            {{ l('Prefix') }}
                        </div>
                        <div class="col-lg-2">
                            <label for="">{{ l('Journal') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                id="companyNextJournalPrefixJournalInput"
                            />
                        </div>
                        <div class="col-lg-2">
                            <label for="">{{ l('CashPost') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                id="companyNextJournalPrefixCashPostInput"
                            />
                        </div>
                        <div class="col-lg-2">
                            <label for="">{{ l('APInvoice') }}</label>
                            <input
                                type="text"
                                class="form-control"
                                id="companyNextJournalPrefixAPInvoiceInput"
                            />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-1 form-row-header">
                            {{ l('NextJournalNumberSymbol') }}
                        </div>
                        <div class="col-lg-2">
                            <input
                                type="text"
                                class="form-control"
                                id="companyNextJournalNextJournalNumberInput"
                            />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-1 form-row-header">
                            {{ l('Suffix') }}
                        </div>
                        <div class="col-lg-2">
                            <input
                                type="text"
                                class="form-control"
                                id="companyNextJournalSuffixJournalInput"
                            />
                        </div>
                        <div class="col-lg-2">
                            <input
                                type="text"
                                class="form-control"
                                id="companyNextJournalSuffixCashPostInput"
                            />
                        </div>
                        <div class="col-lg-2">
                            <input
                                type="text"
                                class="form-control"
                                id="companyNextJournalSuffixAPInvoiceInput"
                            />
                        </div>
                    </div>
                </div>
            </form> 
        </div>
        <div class="mt-30">
            <p class="font-italic">{{ l('ChangedBy') }}: Adam Madsen on 04/25/2022 11:00:29 PM</p>
        </div>
    </div>
</div>
<accountSearchModal #accountSearchModal></accountSearchModal>
<taxCodeSearchModal #taxCodeSearchModal (messageEvent)="receiveMessage($event)"></taxCodeSearchModal>
