<div class="row justify-content-start mt-3" *ngIf="isGranted('Pages.Dashboard.KPI.Widget')">
    <div class="col-md-3">
        <div class="form-group input-group ">
            <input type="text"
                   class="form-control date-range-filter"
                   disabled="disabled"
                   #dateRangePicker="bsDaterangepicker"
                   bsDaterangepicker
                   dateRangePickerLuxonModifier
                   placement="bottom"
                   [(date)]="selectedDateRange"
                   [placeholder]="l('FilterByAccount')"
                   (dateChange)="onChange($event)"/>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="dateRangePicker.toggle()">
                    <i class="fa fa-calendar p-0" style="color: white" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <p-multiSelect id="opportunityAccount"
                           [ngModelOptions]="{standalone: true}"
                           [options]="accounts"
                           [(ngModel)]="accountFilter"
                           optionLabel="name"
                           optionValue="number"
                           [virtualScroll]="true"
                           (onChange)="onFilterChange()"
                           [placeholder]="l('FilterByAccount')"
                           autoWidth="false"
                           [style]="{'width':'100%'}"
                           itemSize="40">
            </p-multiSelect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <p-multiSelect id="opportunityBranch"
                           [ngModelOptions]="{standalone: true}"
                           [options]="branches"
                           [(ngModel)]="branchFilter"
                           (onChange)="onFilterChange()"
                           [placeholder]="l('FilterByBranch')"
                           optionLabel="name"
                           optionValue="number">
            </p-multiSelect>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <p-multiSelect id="opportunityDepartment"
                           [ngModelOptions]="{standalone: true}"
                           [options]="departments"
                           [(ngModel)]="departmentFilter"
                           (onChange)="onFilterChange()"
                           [placeholder]="l('FilterByDepartment')"
                           optionLabel="title"
                           optionValue="dept">
            </p-multiSelect>
        </div>
    </div>
</div>

<div class="row justify-content-start" *ngIf="isGranted('Pages.Dashboard.KPI.Widget')">
    <div class="col pr-0">
        <div class="card card-custom bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <a [routerLink]="[]" (click)="exportToExcel()"
                   class="text-left text-dark font-size-h6 text-hover-state-dark d-block">
                    Average Sales Cycle (Days)
                    <span class="float-right"><i class="fa fa-download color-blue"></i></span>
                </a>
                <div class="text-left text-primary font-size-h1 mt-3">
                    <span class="color-blue">
                        {{ opportunitesdashboard.averageSales.toFixed(0) }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col pr-0">
        <div class="card card-custom bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <a [routerLink]="[]" (click)="exportToExcel()"
                   class="text-left text-dark font-size-h6 text-hover-state-dark d-block">
                    Close Rate
                    <span class="float-right"><i class="fa fa-download color-blue"></i></span>
                </a>
                <div class="card-text text-left text-primary font-size-h1 mt-3">
                    <span class="color-blue">
                        {{ opportunitesdashboard.closeRate.toFixed(0) }}%
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col pr-0">
        <div class="card card-custom bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <a [routerLink]="[]" (click)="exportToExcel()"
                   class="text-left text-dark font-size-h6 text-hover-state-dark d-block">
                    Average Deal Size
                    <span class="float-right"><i class="fa fa-download color-blue"></i></span>
                </a>
                <div class="text-left text-primary font-size-h1 mt-3">
                    <span class="color-blue">
                        {{ opportunitesdashboard.averageDealSize.toFixed(0) | thousandNumber }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-custom bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <a href="javascript:;"
                   class="text-left text-dark font-size-h6 text-hover-state-dark d-block">
                    Total Closed Sales
                    <span class="float-right"><i class="fa fa-download color-blue"></i></span>
                </a>
                <div class="text-left text-primary font-size-h1 mt-3">
                    <span class="color-blue">
                        {{ opportunitesdashboard.totalClosedSales.toFixed(0) | thousandNumber }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
