<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #countryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="country.id">{{ l('EditCountry') }}</span>
                        <span *ngIf="!country.id">{{ l('CreateNewCountry') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Country_Name">{{ l('Name') }} *</label>
                        <input
                            type="text"
                            #Country_Name="ngModel"
                            id="Country_Name"
                            class="form-control"
                            [(ngModel)]="country.name"
                            name="Name"
                            minlength="1"
                            maxlength="100"
                            required
                        />
                        <validation-messages [formCtrl]="Country_Name"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Country_Code">{{ l('Code') }} *</label>
                        <input
                            type="text"
                            #Country_Code="ngModel"
                            id="Country_Code"
                            class="form-control"
                            [(ngModel)]="country.code"
                            name="Code"
                            minlength="1"
                            maxlength="10"
                            required
                        />
                        <validation-messages [formCtrl]="Country_Code"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!countryForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
