<div class="content d-flex flex-column flex-column-fluid">
    <div class="row align-items-center">
        <form class="form w-100" autocomplete="off">
            <div class="col-md-12 mb-3">
                <strong>l('RentalProrationDays')</strong>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">l('RentalBillingHoursInADay')</label>
                        <input type="text" id="rentalBillingHoursInDay" name="rentalBillingHoursInDay" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">l('RentalBillingHoursInAWeek')</label>
                        <input type="text" id="rentalBillingHoursInWeek" name="rentalBillingHoursInWeek" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">l('RentalBillingHoursIn4Weeks')</label>
                        <input type="text" id="rentalBillingHoursIn4Weeks" name="rentalBillingHoursIn4Weeks" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">l('RentalBillingHoursInAMonth')</label>
                        <input type="text" id="rentalBillingHoursInMonth" name="rentalBillingHoursInMonth" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">l('RentalBillingHoursInAQuarter')</label>
                        <input type="text" id="rentalBillingHoursInQuarter" name="rentalBillingHoursInQuarter" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="defaultReturnStatus">l('DefaultReturnStatus')</label>
                        <p-dropdown id="defaultReturnStatus" name="defaultReturnStatus" [options]="returnStatuses"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableReturnStatus"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-5 mb-3">
                <strong>l('PartsRoutingPriorities')</strong>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="defaultForBOs">l('DefaultForBOs')</label>
                        <p-dropdown id="defaultForBOs" name="defaultForBOs" [options]="BOs"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableBOs"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="defaultForStock">l('DefaultForStock')</label>
                        <p-dropdown id="defaultForStock" name="defaultForStock" [options]="stocks"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableStock"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emergencyCostPriority">l('EmergencyCostPriority')</label>
                        <p-dropdown id="emergencyCostPriority" name="emergencyCostPriority" [options]="emergencyCostPriorities"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableEmergencyCostPriority"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="partsReceiveEmailAdd">l('PartsReceiveEmailAddress')</label>
                        <input type="text" id="partsReceiveEmailAdd" name="partsReceiveEmailAdd" class="form-control" />
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12 pt-5">
            <div class="font-italic">
                <span>l('AddedBy'):</span>
            </div>
            <div class="font-italic">
                <span>l('ChangedBy'):</span>
            </div>
        </div>
    </div>
</div>