<div class="content d-flex flex-column flex-column-fluid">
    <div class="row align-items-center">
        <form class="form w-100" autocomplete="off">
            <div class="col-md-12 mb-3">
                <strong>Rental Proration Days</strong>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">Rental Billing Hours In a Day</label>
                        <input type="text" id="rentalBillingHoursInDay" name="rentalBillingHoursInDay" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">Rental Billing Hours In a Week</label>
                        <input type="text" id="rentalBillingHoursInWeek" name="rentalBillingHoursInWeek" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">Rental Billing Hours In 4 Weeks</label>
                        <input type="text" id="rentalBillingHoursIn4Weeks" name="rentalBillingHoursIn4Weeks" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">Rental Billing Hours In a Month</label>
                        <input type="text" id="rentalBillingHoursInMonth" name="rentalBillingHoursInMonth" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxAmount">Rental Billing Hours In a Quarter</label>
                        <input type="text" id="rentalBillingHoursInQuarter" name="rentalBillingHoursInQuarter" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="defaultReturnStatus">Default Return Status</label>
                        <p-dropdown id="defaultReturnStatus" name="defaultReturnStatus" [options]="returnStatuses"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableReturnStatus"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-5 mb-3">
                <strong>Parts Routing Priorities</strong>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="defaultForBOs">Default for BOs</label>
                        <p-dropdown id="defaultForBOs" name="defaultForBOs" [options]="BOs"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableBOs"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="defaultForStock">Default for Stock</label>
                        <p-dropdown id="defaultForStock" name="defaultForStock" [options]="stocks"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableStock"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex px-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emergencyCostPriority">Emergency Cost Priority</label>
                        <p-dropdown id="emergencyCostPriority" name="emergencyCostPriority" [options]="emergencyCostPriorities"
                            optionLabel="displayName" [style]="{'width':'100%'}" [disabled]="disableEmergencyCostPriority"
                            [emptyMessage]="l('NoRecordsFound')"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="partsReceiveEmailAdd">Parts Receive Email Address</label>
                        <input type="text" id="partsReceiveEmailAdd" name="partsReceiveEmailAdd" class="form-control" />
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12 pt-5">
            <div class="font-italic">
                <span>Added by:</span>
            </div>
            <div class="font-italic">
                <span>Changed by:</span>
            </div>
        </div>
    </div>
</div>