<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="('Leads' | localize)" [breadcrumbs]="breadcrumbs">
            <div role="actions">
                <button (click)="goToLeads()" class="btn btn-secondary float-left">
                    <span>{{ l('Close') }}</span>
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <tabset>
                <tab heading="{{ 'Overview' | localize }}">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-custom card-in-tab gutter-b">
                                <div class="card-body">

                                    <div class="row" *ngIf="this.showSaveButton">
                                        <div class="col-12">
                                            <button (click)="save()" class="btn btn-primary blue float-right"
                                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                                <i class="fa fa-save"></i>
                                                <span>{{ l('Save') }}</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="!this.showSaveButton && this.showEditButton">
                                        <div class="col-12">
                                            <button (click)="openEditionMode()"
                                                class="btn btn-primary blue float-right">
                                                <i class="fas fa-pencil-alt"></i>
                                                <span>{{ l('Edit') }}</span>
                                            </button>
                                        </div>
                                    </div>
                                    <form #LeadForm="ngForm" role="form" class="form-validation" novalidate>
                                        <h3 class="font-size-lg text-dark font-weight-bold mb-6">
                                            <i class="fas fa-user-alt text-dark pr-3"></i>
                                            {{ l('GeneralInformation') }}</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_CompanyName">{{ l('CompanyName') }} <span class="color-red">*</span></label>
                                                    <input type="text" #Lead_CompanyName="ngModel" id="Lead_CompanyName"
                                                        class="form-control" [(ngModel)]="lead.companyName"
                                                        [placeholder]="l('EnterCompanyName')" name="CompanyName"
                                                        maxlength="250" [disabled]="this.isReadOnlyMode" required />
                                                    <validation-messages [formCtrl]="Lead_CompanyName">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_CompanyPhone">{{ l('CompanyPhone') }} <span class="color-red">*</span></label>
                                                    <input id="Lead_CompanyPhone" #Lead_CompanyPhone="ngModel"
                                                        [placeholder]="l('EnterCompanyPhone')"
                                                        [(ngModel)]="lead.companyPhone" [required]="!lead.companyEmail"
                                                        name="CompanyPhone" class="form-control" type="tel"
                                                        maxlength="15" [disabled]="this.isReadOnlyMode"
                                                        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" />
                                                    <div
                                                        *ngIf="!Lead_CompanyPhone.valid && (Lead_CompanyPhone.dirty || Lead_CompanyPhone.touched)">
                                                        <span class="form-text text-danger text-left">{{
                                                            'CompanyPhone_Invalid'
                                                            | localize }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_CompanyEmail">{{ l('CompanyEmail') }}</label>
                                                    <input type="email" #Lead_CompanyEmail="ngModel"
                                                        id="Lead_CompanyEmail" class="form-control"
                                                        [(ngModel)]="lead.companyEmail"
                                                        [placeholder]="l('EnterCompanyEmail')" name="CompanyEmail" email
                                                        [disabled]="this.isReadOnlyMode"
                                                        [required]="!lead.companyPhone" />
                                                    <validation-messages [formCtrl]="Lead_CompanyEmail">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_WebSite">{{ l('WebSite') }}</label>
                                                    <input type="url" #Lead_WebSite="ngModel" id="Lead_WebSite"
                                                        class="form-control" [(ngModel)]="lead.webSite"
                                                        [placeholder]="l('EnterWebSite')" name="WebSite"
                                                        [disabled]="this.isReadOnlyMode"
                                                        pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})" />
                                                    <div
                                                        *ngIf="!Lead_WebSite.valid && (Lead_WebSite.dirty || Lead_WebSite.touched)">
                                                        <span *ngIf="Lead_WebSite.errors?.['pattern']"
                                                            class="form-text text-danger text-left">{{ 'WebSite_Invalid'
                                                            |
                                                            localize }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label for="Lead_Address">{{ l('Address') }}</label>
                                                <input type="text" #Lead_Address="ngModel" id="Lead_Address"
                                                    class="form-control" [(ngModel)]="lead.address"
                                                    [placeholder]="l('EnterAddress')" [disabled]="this.isReadOnlyMode"
                                                    name="Address" maxlength="100" />
                                                <validation-messages [formCtrl]="Lead_Address"></validation-messages>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Lead_PoBox">{{ l('POBox') }}</label>
                                                <input type="text" #Lead_PoBox="ngModel" id="Lead_PoBox"
                                                    class="form-control" [(ngModel)]="lead.poBox"
                                                    [placeholder]="l('EnterPOBox')" name="PoBox"
                                                    [disabled]="this.isReadOnlyMode" maxlength="100" />
                                                <validation-messages [formCtrl]="Lead_PoBox"></validation-messages>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Lead_Country">{{ l('Country') }}</label>
                                                    <p-dropdown #Lead_Country="ngModel" id="Lead_Country"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [options]="countries"
                                                                [(ngModel)]="lead.country" optionLabel="name"
                                                                [disabled]="this.isReadOnlyMode"
                                                                [placeholder]="l('SelectCountry')"
                                                                [showClear]="true"
                                                                optionValue="name">
                                                    </p-dropdown>
                                                    <validation-messages [formCtrl]="Lead_Country">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Lead_State">{{ l('State') }}</label>
                                                    <input type="text" #Lead_State="ngModel" id="Lead_State"
                                                        class="form-control" [(ngModel)]="lead.state"
                                                        [placeholder]="l('EnterState')" [disabled]="this.isReadOnlyMode"
                                                        name="State" maxlength="100" />
                                                    <validation-messages [formCtrl]="Lead_State"></validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Lead_City">{{ l('City') }}</label>
                                                    <input type="text" #Lead_City="ngModel" id="Lead_City"
                                                        class="form-control" [(ngModel)]="lead.city"
                                                        [placeholder]="l('EnterCity')" name="City"
                                                        [disabled]="this.isReadOnlyMode" maxlength="100" />
                                                    <validation-messages [formCtrl]="Lead_City"></validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Lead_ZipCode">{{ l('ZipCode') }}</label>
                                                    <input type="text" #Lead_ZipCode="ngModel" id="Lead_ZipCode"
                                                        class="form-control" [(ngModel)]="lead.zipCode"
                                                        [disabled]="this.isReadOnlyMode"
                                                        [placeholder]="l('EnterZipCode')" name="ZipCode"
                                                        maxlength="50" />
                                                    <validation-messages [formCtrl]="Lead_ZipCode">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                        </div>

                                        <h3 class="font-size-lg text-dark font-weight-bold mb-6">
                                            <i class="fa fa-id-card text-dark"></i>
                                            {{ l('ContactDetails') }}
                                        </h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_ContactName">{{ l('ContactName') }} <span class="color-red">*</span></label>
                                                    <input type="text"
                                                           #Lead_ContactName="ngModel"
                                                           id="Lead_ContactName"
                                                           class="form-control"
                                                           [(ngModel)]="lead.contactName"
                                                           [placeholder]="l('EnterContactName')"
                                                           name="ContactName"
                                                           required
                                                           [disabled]="this.isReadOnlyMode"
                                                           maxlength="50"/>
                                                    <validation-messages [formCtrl]="Lead_ContactName">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_ContactPosition">{{ l('ContactPosition') }}</label>
                                                    <input type="text" #Lead_ContactPosition="ngModel"
                                                        id="Lead_ContactPosition" class="form-control"
                                                        [(ngModel)]="lead.contactPosition"
                                                        [placeholder]="l('EnterContactPosition')" name="ContactPosition"
                                                        [disabled]="this.isReadOnlyMode" maxlength="50" />
                                                    <validation-messages [formCtrl]="Lead_ContactPosition">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Lead_ContactPhone">{{ l('ContactPhone') }}</label>
                                                    <input id="Lead_ContactPhone" #Lead_ContactPhone="ngModel"
                                                        [(ngModel)]="lead.contactPhone"
                                                        [placeholder]="l('EnterContactPhone')" class="form-control"
                                                        name="ContactPhone" type="tel" maxlength="15"
                                                        [disabled]="this.isReadOnlyMode"
                                                        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" />
                                                    <div
                                                        *ngIf="!Lead_ContactPhone.valid && (Lead_ContactPhone.dirty || Lead_ContactPhone.touched)">
                                                        <span class="form-text text-danger text-left">{{
                                                            'ContactPhone_Invalid' | localize }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="Lead_ContactPhoneExtension">{{
                                                        l('ContactPhoneExtension')
                                                        }}</label>
                                                    <input id="Lead_ContactPhoneExtension"
                                                        #Lead_ContactPhoneExtension="ngModel"
                                                        [(ngModel)]="lead.contactPhoneExtension"
                                                        [placeholder]="l('EnterContactPhoneExtension')"
                                                        name="EnterContactPhoneExtension" type="tel"
                                                        class="form-control" maxlength="5"
                                                        [disabled]="this.isReadOnlyMode" pattern="\+?\d{1,5}$" />
                                                    <div
                                                        *ngIf="!Lead_ContactPhoneExtension.valid && (Lead_ContactPhoneExtension.dirty || Lead_ContactPhoneExtension.touched)">
                                                        <span class="form-text text-danger text-left">{{
                                                            'ContactPhoneExtension_Invalid' | localize }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_ContactCellPhone">{{ l('ContactCellPhone')
                                                        }}</label>
                                                    <input type="text" #Lead_ContactCellPhone="ngModel"
                                                        id="Lead_ContactCellPhone" class="form-control"
                                                        [(ngModel)]="lead.contactCellPhone"
                                                        [placeholder]="l('EnterContactCellPhone')"
                                                        name="ContactCellPhone" type="tel"
                                                        [disabled]="this.isReadOnlyMode" maxlength="15"
                                                        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" />
                                                    <div
                                                        *ngIf="!Lead_ContactCellPhone.valid && (Lead_ContactCellPhone.dirty || Lead_ContactCellPhone.touched)">
                                                        <span class="form-text text-danger text-left">{{
                                                            'ContactCellPhone_Invalid' | localize }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_ContactFaxNumber">{{ l('ContactFaxNumber')
                                                        }}</label>
                                                    <input type="text" #Lead_ContactFaxNumber="ngModel"
                                                        id="Lead_ContactFaxNumber" class="form-control"
                                                        [(ngModel)]="lead.contactFaxNumber"
                                                        [placeholder]="l('EnterContactFaxNumber')"
                                                        name="ContactFaxNumber" type="tel"
                                                        [disabled]="this.isReadOnlyMode" maxlength="15"
                                                        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" />
                                                    <div
                                                        *ngIf="!Lead_ContactFaxNumber.valid && (Lead_ContactFaxNumber.dirty || Lead_ContactFaxNumber.touched)">
                                                        <span class="form-text text-danger text-left">{{
                                                            'ContactFaxNumber_Invalid' | localize }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_PagerNumber">{{ l('PagerNumber') }}</label>
                                                    <input #Lead_PagerNumber="ngModel" class="form-control"
                                                        [(ngModel)]="lead.pagerNumber"
                                                        [placeholder]="l('EnterPagerNumber')" name="PagerNumber"
                                                        type="tel" maxlength="15" [disabled]="this.isReadOnlyMode"
                                                        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" />
                                                    <div
                                                        *ngIf="!Lead_PagerNumber.valid && (Lead_PagerNumber.dirty || Lead_PagerNumber.touched)">
                                                        <span class="form-text text-danger text-left">{{
                                                            'PagerNumber_Invalid' |
                                                            localize }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Lead_ContactEmail">{{ l('ContactEmail') }}</label>
                                                    <input type="email" #Lead_ContactEmail="ngModel"
                                                        id="Lead_ContactEmail" class="form-control"
                                                        [(ngModel)]="lead.contactEmail"
                                                        [placeholder]="l('ContactEmail')" name="ContactEmail" email
                                                        [disabled]="this.isReadOnlyMode" maxlength="50" />
                                                    <validation-messages [formCtrl]="Lead_ContactEmail">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                        </div>

                                        <h3 class="font-size-lg text-dark font-weight-bold mb-6"><i
                                                class="fa fa-clipboard"></i>
                                            {{ l('LeadDetails') }}
                                        </h3>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group m-form__group">
                                                    <label for="LeadStatusDescription">{{ l('Status') }}</label>
                                                    <p-dropdown #Lead_Status="ngModel" id="Lead_Status"
                                                        [ngModelOptions]="{standalone: true}" [options]="allLeadStatuss"
                                                        [(ngModel)]="lead.leadStatusId" optionLabel="displayName"
                                                        [disabled]="this.isReadOnlyMode"
                                                        [placeholder]="l('EnterLeadStatus')" [showClear]="true"
                                                        optionValue="id">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group m-form__group">
                                                    <label for="LeadSourceDescription">{{ l('LeadSource') }}</label>
                                                    <p-dropdown #Lead_Source="ngModel" id="Lead_Source"
                                                        [ngModelOptions]="{standalone: true}" [options]="allLeadSources"
                                                        [(ngModel)]="lead.leadSourceId" optionLabel="displayName"
                                                        [disabled]="this.isReadOnlyMode"
                                                        [placeholder]="l('EnterLeadSource')" [showClear]="true"
                                                        optionValue="id">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group m-form__group">
                                                    <label for="PriorityDescription">{{ l('Priority') }}</label>
                                                    <p-dropdown #Lead_Priority="ngModel" id="Lead_Priority"
                                                        [ngModelOptions]="{standalone: true}" [options]="allPrioritys"
                                                        [(ngModel)]="lead.priorityId" optionLabel="displayName"
                                                        [disabled]="this.isReadOnlyMode"
                                                        [placeholder]="l('EnterPriority')" [showClear]="true"
                                                        optionValue="id">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label for="Lead_Description">{{ l('Description') }}</label>
                                                <textarea class="form-control" #Lead_Description="ngModel"
                                                    [(ngModel)]="lead.description" [disabled]="this.isReadOnlyMode"
                                                    [placeholder]="l('EnterDescription')" name="Description"
                                                    id="Lead_Description" rows="10"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{{ 'Events' | localize }}" [disabled]="this.isNew">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-custom card-in-tab gutter-b">
                                <div class="card-body">
                                    <div [hidden]="!this.showEventsTab">
                                        <entityTypeHistory #entityTypeHistory></entityTypeHistory>
                                    </div>
                                    <div *ngIf="!showEventsTab">
                                        {{ l('UserDontHavePermission') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="row" *ngIf="this.lead.id">
            <div class="col-sm-12 col-lg-6" *ngIf="this.showAssignedUsersWidget">
                <app-assigned-user
                    [componentType]="'Lead'"
                    [idToStore]="this.lead.id"
                    (onSaveAssignedUser)="reloadEvents()"
                >
                </app-assigned-user>
            </div>

            <div class="col-sm-12 col-lg-6" *ngIf="showActivityWidget">
                <app-activities-widget
                    [allowCreate]="canCreateActivity"
                    [showScheduleMeetingOption]="canViewScheduleMeetingOption"
                    [showScheduleCallOption]="canViewScheduleCallOption"
                    [showEmailReminderOption]="canViewEmailReminderOption"
                    [showToDoReminderOption]="canViewToDoReminderOption"
                    [allowEdit]="canEditActivity"
                    [canAssignAnyUser]="canAssignAnyUserInActivity"
                    [componentType] = "'Lead'"
                    [idToStore]="this.lead.id">
                </app-activities-widget>
            </div>

            <div class="col-sm-12 col-lg-6" *ngIf="showAttachmentsWidget">
                <attachments-widget                    
                    [componentType] = "'Lead'"
                    [idToStore]="this.lead.id">
                </attachments-widget>
            </div>

        </div>
    </div>
</div>
