<div
    appBsModal
    #importLeadsModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form *ngIf="active" #importLeadsModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'Import' | localize }}</span>
                    </h5>
                    <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="custom-file">
                                <input
                                    required
                                    type="file"
                                    id="uploadExcelFile"
                                    (change)="fileChangeEvent($event)"
                                    accept=".xls,.xlsx"
                                />
                                <label
                                    class="custom-file-label"
                                    #uploadFileImportInputLabel
                                    for="uploadExcelFile"
                                >
                                    {{ l('UploadedFile') }}
                                </label>
                            </div>
                            <span class="form-text text-muted col-lg-12">
                                {{ 'ImportExcel_Change_Info' | localize: maxExcelImportBytesUserFriendlyValue }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="LeadSourceDescription">{{ l('LeadSource') }}</label>
                            <p-dropdown
                                [required]="true"
                                id="LeadSourceDescription"
                                name="LeadSourceDescription"
                                [options]="allLeadSources"
                                [(ngModel)]="selectedLeadSourceId"
                                optionLabel="displayName"
                                [placeholder]="l('EnterLeadSource')"
                                optionValue="id"
                                [virtualScroll]="allLeadSources?.length > 10"
                            >
                            </p-dropdown>
                        </div>
                        <div class="form-group">
                            <label for="AssignedUserDescription">{{ l('AssignedUser') }}</label>
                            <p-dropdown
                                [required]="true"
                                [filter]="true"
                                id="AssignedUserDescription"
                                name="AssignedUserDescription"
                                [options]="allUsers"
                                [(ngModel)]="selectedUserId"
                                optionLabel="displayName"
                                [placeholder]="l('SelectUser')"
                                optionValue="id"
                                [virtualScroll]="allUsers?.length > 10"
                            >
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary font-weight-bold"
                        (click)="close()"
                        [disabled]="saving"
                    >
                        {{ 'Cancel' | localize }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary font-weight-bold"
                        [disabled]="this.validateUploadButton()">
                        <span>{{ 'Upload' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
