<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Leads'" >

            <div role="actions" class="d-flex flex-row align-items-center">

                <div class = padding-left-5>
                    <button
                        (click)="exportToExcel()"
                        class="btn btn btn-primary blue"
                    >
                        <i class="fa fa-download fa-lg"></i>
                        {{ l('Export') }}
                    </button>
                </div>

                <div class = padding-left-5>
                    <button
                        *ngIf="isGranted('Pages.Leads.Create')"
                        (click)="showModalDialog()"
                        class="btn btn-primary blue">
                        <i class="fa fa-address-card"></i>
                        {{ l('Import') }}
                    </button>
                </div>

                <div class = padding-left-5>
                    <button
                        *ngIf="isGranted('Pages.Leads.Create')"
                        (click)="createLead()"
                        class="btn btn btn-primary blue"
                    >
                        <i class="fa fa-plus fa-lg"></i>
                        {{ l('NewLead') }}
                    </button>
                </div>

            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="companyOrContactNameFilter"
                                                name="companyOrContactNameFilter"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="l('LeadSearchWithThreeDot')"
                                                type="text"
                                                (keyup)="getCustomerByCompanyOrContactNameFilter($event)"
                                            />
                                            <span class="input-group-btn">
                                                <button
                                                    (click)="getLeads()"
                                                    class="btn btn-primary"
                                                    type="submit"
                                                >
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="separator separator-dashed"></div>
                                </div>

                                <div class="col-md-2" *ngIf="isGranted('Pages.Leads.ViewAssignedUserFilter')">
                                    <div class="form-group">
                                        <label for="UserAssignedFilter"></label>
                                        <div>
                                            <p-multiSelect
                                                id="UserAssignedFilter"
                                                name="UserAssignedFilter"
                                                [options]="allUsers"
                                                [(ngModel)]="selectedUsers"
                                                optionLabel="displayName"
                                                placeholder="Filter by Users"
                                                (onChange)="getLeads($event)"
                                            >
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="LeadStatusFilter"></label>
                                        <div>
                                            <p-dropdown
                                                id="LeadStatusFilter"
                                                name="LeadStatusFilter"
                                                [options]="leadStatuses"
                                                [(ngModel)]="selectedLeadStatus"
                                                optionLabel="displayName"
                                                placeholder="Filter by Status"
                                                (onChange)="getLeads($event)"
                                            >
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="PriorityFilter"></label>
                                        <div>
                                            <p-dropdown
                                                id="PriorityFilter"
                                                name="PriorityFilter"
                                                [options]="priorities"
                                                [(ngModel)]="selectedPriority"
                                                optionLabel="displayName"
                                                placeholder="Filter by Priorities"
                                                (onChange)="getLeads($event)"
                                                [virtualScroll]="true"
                                            >
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                    >
                                        <i class="fa fa-angle-down"></i>
                                        {{ l('ShowAdvancedFilters') }}
                                    </span>
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                    >
                                        <i class="fa fa-angle-up"></i>
                                        {{ l('HideAdvancedFilters') }}
                                    </span>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getLeads($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                                (onHeaderCheckboxToggle)="onTableHeaderCheckboxToggle($event)"
                                (onRowSelect)="onRowSelect($event)"
                                (onRowUnselect)="onRowUnselect($event)"
                                selectionMode="multiple"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 80px"
                                            [hidden]="!isGrantedAny('Pages.Leads.Edit', 'Pages.Leads.Delete')"
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                        <th style="width: 30px">
                                            <!-- Temporaly disabled by customer request -->
                                            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                                        </th>
                                        <th
                                            style="width: 160px"
                                            pSortableColumn="companyName"
                                        >
                                            {{ l('LeadCompanyName') }}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 150px"
                                            pSortableColumn="contactName"
                                        >
                                            {{ l('LeadContactName') }}
                                            <p-sortIcon field="contactName"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 150px"
                                            pSortableColumn="leadStatusFk.description"
                                        >
                                            {{ l('Status') }}
                                            <p-sortIcon field="leadStatusFk.description"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 150px"
                                            pSortableColumn="companyPhone"
                                        >
                                            {{ l('LeadCompanyPhone') }}
                                            <p-sortIcon field="companyPhone"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 150px"
                                            pSortableColumn="users.userFk.name"
                                        >
                                            {{ l('AssignedUser') }}
                                            <p-sortIcon field="users.userFk.name"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 150px"
                                            pSortableColumn="creationTime"
                                        >
                                            {{ l('LeadCreationTime') }}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 150px"
                                            pSortableColumn="PriorityFk.description"
                                        >
                                            {{ l('LeadPriority') }}
                                            <p-sortIcon field="PriorityFk.description"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr>
                                        <td
                                            style="width: 80px"
                                            [hidden]="!isGrantedAny('Pages.Leads.Edit', 'Pages.Leads.Delete')"
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-secondary i" dropdownToggle>
                                                    <i class="fa fa-cog color-blue"></i>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            class="dropdown-item"
                                                            href="javascript:;"
                                                            (click)="convertToAccount(record.lead.id)"
                                                            *ngIf="record.leadCanBeConvert && permission.isGranted('Pages.Leads.ConvertToAccount')"
                                                        >
                                                            {{ l('MakeAccount') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            *ngIf="permission.isGranted('Pages.Leads.Edit')"
                                                            class="dropdown-item"
                                                            [routerLink]="['/app/main/crm/leads/view']"
                                                            [queryParams]="{ id: record.lead.id }"
                                                        >
                                                            {{ l('View') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            *ngIf="permission.isGranted('Pages.Leads.Edit')
                                                                && leadCanBeEdittedOrConverted(record.leadStatusDescription)"
                                                            class="dropdown-item"
                                                            [routerLink]="['/app/main/crm/leads/createOrEdit']"
                                                            [queryParams]="{ id: record.lead.id }"
                                                        >
                                                            {{ l('Edit') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td
                                            style="width: 30px" >
                                             <!-- Temporaly disabled by customer request -->
                                            <!-- <p-tableCheckbox  [value]="record"> </p-tableCheckbox> -->
                                        </td>
                                        <td style="width: 160px">
                                            <span
                                                class="p-column-title"
                                            >
                                                {{ l('LeadCompanyName') }}
                                            </span>
                                            <a
                                                [routerLink]="['/app/main/crm/leads/view']"
                                                [queryParams]="{ id: record.lead.id }"
                                            >
                                                {{ record.lead.companyName }}
                                            </a>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('LeadContactName') }}</span>
                                                {{ record.lead.contactName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('Status') }}</span>
                                            <span
                                                class="cell-span-color text-white"
                                                [ngStyle]="{ 'background-color': record.leadStatusColor }"
                                            >
                                                {{ record.leadStatusDescription }}
                                            </span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('LeadCompanyPhone') }}</span>
                                                {{ record.lead.companyPhone }}
                                        </td>
                                        <td style="width: 150px">
                                            <span>
                                                <a target="_blank" class="float-left" *ngIf="record.profilePictureUrl">
                                                    <img class="img-circle" [src]="record.profilePictureUrl" />
                                                </a>
                                                <p [className]="record.assignedUsers > 1 ? 'no-wrap-150' : ''">
                                                    {{ record.firstUserAssignedFullName }}
                                                </p>
                                            </span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('CreationTime') }}</span>
                                                {{ record.lead.creationTime  | momentFormat: "MM/DD/yyyy"}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('LeadPriority') }}</span>
                                            <span
                                                class="cell-span-color text-white"
                                                [ngStyle]="{
                                                    'background-color': record.priorityColor
                                                }"
                                            >
                                                {{ record.priorityDescription }}
                                            </span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getLeads($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "
                                ></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <importLeadsModal (modalUpload)="getLeads()" #importLeadsModalComponent></importLeadsModal>

</div>
