<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="leadStatus.id">{{ l('EditLeadStatus') }}</span>
                        <span *ngIf="!leadStatus.id">{{ l('NewLeadStatus') }}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="LeadStatus_Description">{{ l('LeadStatusName') }} <span class="color-red">*</span></label>
                        <input
                            type="text"
                            #LeadStatus_Description="ngModel"
                            id="LeadStatus_Description"
                            class="form-control"
                            [(ngModel)]="leadStatus.description"
                            name="Description"
                            minlength="1"
                            maxlength="100"
                            required
                            placeholder="Enter Status Name"
                        />
                        <validation-messages [formCtrl]="LeadStatus_Description"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label class="col-1" for="LeadStatus_Color">{{ l('Color') }}:</label>
                        <label class="col-1">{{ leadStatus.color }}</label>
                        <p-colorPicker
                            class="col-1"
                            #LeadStatus_Color="ngModel"
                            id="LeadStatus_Color"
                            [(ngModel)]="leadStatus.color"
                            name="Color"
                            required
                        ></p-colorPicker>
                        <validation-messages [formCtrl]="LeadStatus_Color"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!leadStatusForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <span>{{ isCreateMode ? l('Add') : l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
