<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="leadStatus.id">{{ l('EditLeadStatus') }}</span>
                        <span *ngIf="!leadStatus.id">{{ l('CreateNewLeadStatus') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="LeadStatus_Description">{{ l('Description') }} *</label>
                        <input
                            type="text"
                            #LeadStatus_Description="ngModel"
                            id="LeadStatus_Description"
                            class="form-control"
                            [(ngModel)]="leadStatus.description"
                            name="Description"
                            minlength="1"
                            maxlength="100"
                            required
                        />
                        <validation-messages [formCtrl]="LeadStatus_Description"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="LeadStatus_IsLeadConversionValid" class="kt-checkbox">
                            <input
                                id="LeadStatus_IsLeadConversionValid"
                                #LeadStatus_IsLeadConversionValid="ngModel"
                                type="checkbox"
                                name="IsLeadConversionValid"
                                [(ngModel)]="leadStatus.isLeadConversionValid"
                            />
                            {{ l('IsLeadConversionValid') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="LeadStatus_IsLeadConversionValid"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="LeadStatus_IsDefault" class="kt-checkbox">
                            <input
                                id="LeadStatus_IsDefault"
                                #LeadStatus_IsDefault="ngModel"
                                type="checkbox"
                                name="IsDefault"
                                [(ngModel)]="leadStatus.isDefault"
                            />
                            {{ l('IsDefault') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="LeadStatus_IsDefault"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!leadStatusForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
