<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Branch')" [breadcrumbs]="breadcrumbs">
            <div role="actions">
                <ng-container *ngFor="let ab of actionButtons">
                    <button *ngIf="ab.isActive()" class="btn" [class]="ab.cssClass" (click)="ab.action()"
                        [buttonBusy]="loading">
                        <i *ngIf="ab.iconClass" [class]="ab.iconClass"></i> {{ ab.name }}
                    </button>
                </ng-container>
            </div>
        </sub-header>
        <form autocomplete="off">
            <div [class]="containerClass">
                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_Number">{{ l('Branch') }}</label>
                                <input type="number" id="Branch_Number" name="branchNumber" class="form-control"
                                    [placeholder]="l('Number')" [(ngModel)]="upsertBranchDto.number"
                                    [disabled]="isBranchNumberFieldDisabled()" />
                            </div>
                            <div class="col-6 form-group">
                                <label for="Branch_Name">{{ l('Name') }}</label>
                                <input type="text" id="Branch_Name" name="branchName" class="form-control"
                                    [placeholder]="l('Name')" [(ngModel)]="upsertBranchDto.name"
                                    [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_SubName">{{ l('SubName') }}</label>
                                <input type="text" id="Branch_SubName" name="branchSubName" class="form-control"
                                    [placeholder]="l('SubName')" [(ngModel)]="upsertBranchDto.subName"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-6 form-group">
                                <label for="Branch_InvSubName">{{ l('InvSubName') }}</label>
                                <input type="text" id="Branch_InvSubName" name="branchInvSubName" class="form-control"
                                    [placeholder]="l('InvSubName')" [(ngModel)]="upsertBranchDto.smallSubName"
                                    [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="Branch_Address">{{ l('Address') }}</label>
                                <input type="text" id="Branch_Address" name="branchAddress" class="form-control"
                                    [placeholder]="l('Address')" [(ngModel)]="upsertBranchDto.address"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-3 form-group">
                                <label for="Branch_City">{{ l('City') }}</label>
                                <input type="text" id="Branch_City" name="branchCity" class="form-control"
                                    [placeholder]="l('City')" [(ngModel)]="upsertBranchDto.city"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-3 form-group">
                                <label for="Branch_State">{{ l('State') }}</label>
                                <input type="text" id="Branch_State" name="branchState" class="form-control"
                                    [placeholder]="l('State')" [(ngModel)]="upsertBranchDto.state"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-3 form-group">
                                <label for="Branch_ZipCode">{{ l('ZipCode') }}</label>
                                <input type="text" id="Branch_ZipCode" name="branchZipCode" class="form-control"
                                    [placeholder]="l('ZipCode')" [(ngModel)]="upsertBranchDto.zipCode"
                                    (change)="zipCodeOnChange()" [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_Country">{{ l('Country') }}</label>
                                <p-dropdown id="Branch_Country" name="branchCountry" [placeholder]="l('SelectCountry')"
                                    [(ngModel)]="upsertBranchDto.country" [options]="initialDropdownData.countries"
                                    optionValue="name" optionLabel="name" editable="true" [showClear]="true"
                                    [disabled]="isViewMode()">
                                </p-dropdown>
                            </div>
                            <div class="col-6 form-group">
                                <label for="Branch_Phone">{{ l('Phone') }}</label>
                                <input type="text" id="Branch_Phone" name="branchPhone" class="form-control"
                                    [placeholder]="l('Phone')" [(ngModel)]="upsertBranchDto.phone"
                                    [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_Fax">{{ l('Fax') }}</label>
                                <input type="text" id="Branch_Fax" name="branchFax" class="form-control"
                                    [placeholder]="l('Fax')" [(ngModel)]="upsertBranchDto.fax"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-between">
                                <div class="form-group flex-grow-1 pr-2">
                                    <label for="Branch_AcountsReceivableGLAccountNumber">
                                        {{ l('AcountsReceivableGLAccountNumber') }}
                                    </label>
                                    <input type="text" id="Branch_AcountsReceivableGLAccountNumber"
                                        name="acountsReceivableGLAccountNumber" class="form-control"
                                        [ngClass]="{'is-invalid': !isAccountNumberValid}"
                                        [placeholder]="l('AcountsReceivableGLAccountNumber')"
                                        [(ngModel)]="upsertBranchDto.receivable"
                                        (change)="acountsReceivableGLAccountNumberOnChange()"
                                        [disabled]="isViewMode()" />
                                </div>
                                <button class="btn btn-primary text-primary p-2 mt-1">
                                    <i class="fa fa-search p-0"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_ARAccounts">{{ l('ARAccounts') }}</label>
                                <p-dropdown id="Branch_ARAccounts" name="branchAccountsReceivables"
                                    [placeholder]="l('SelectARAccounts')"
                                    [options]="initialDropdownData.accountsReceivables" optionValue="id"
                                    optionLabel="accountReceivable" [showClear]="true"
                                    (onChange)="accountsReceivablesOnChange($event)" [disabled]="isViewMode()">
                                </p-dropdown>
                            </div>
                            <div class="col-6 form-group">
                                <label for="Branch_ClarkDealerAccessCode">{{ l('ClarkDealerAccessCode') }}</label>
                                <input type="text" id="Branch_ClarkDealerAccessCode" name="branchClarkDealerAccessCode"
                                    class="form-control" [placeholder]="l('ClarkDealerAccessCode')"
                                    [(ngModel)]="upsertBranchDto.clarkDealerAccessCode" [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_ClarkPartsCode">{{ l('ClarkPartsCode') }}</label>
                                <input type="text" id="Branch_ClarkPartsCode" name="branchClarkPartsCode"
                                    class="form-control" [placeholder]="l('ClarkPartsCode')"
                                    [(ngModel)]="upsertBranchDto.clarkPartsCode" [disabled]="isViewMode()" />
                            </div>
                            <div class="col-3 form-group">
                                <label for="Branch_FedExShopId">{{ l('FedExShopId') }}</label>
                                <input type="text" id="Branch_FedExShopId" name="branchFedExShopId" class="form-control"
                                    [placeholder]="l('FedExShopId')" [(ngModel)]="upsertBranchDto.shopId"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-3 form-group">
                                <label for="Branch_FedExVendorId">{{ l('FedExVendorId') }}</label>
                                <input type="text" id="Branch_FedExVendorId" name="branchFedExVendorId"
                                    class="form-control" [placeholder]="l('FedExVendorId')"
                                    [(ngModel)]="upsertBranchDto.vendorId" [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_DefaultWarehouse">{{ l('DefaultWarehouse') }}</label>
                                <p-dropdown id="Branch_DefaultWarehouse" name="branchDefaultWarehouse"
                                    [placeholder]="l('SelectDefaultWarehouse')"
                                    [(ngModel)]="upsertBranchDto.defaultWarehouse"
                                    [options]="initialDropdownData.warehouses" optionValue="warehouse"
                                    optionLabel="warehouse" editable="true" [showClear]="true"
                                    [disabled]="isViewMode()">
                                </p-dropdown>
                            </div>
                            <div class="col-6 form-group">
                                <label for="Branch_RentalDeliveryDefaultTime" [style]="{'display':'block'}">{{
                                    l('RentalDeliveryDefaultTime') }}</label>
                                <p-calendar id="Branch_RentalDeliveryDefaultTime" name="branchRentalDeliveryDefaultTime"
                                    [placeholder]="l('RentalDeliveryDefaultTime')" [(ngModel)]="selectedDate"
                                    [timeOnly]="true" inputId="timeonly" hourFormat="12" [style]="{'width':'100%'}"
                                    [disabled]="isViewMode()">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="Branch_CurrencyType">{{ l('CurrencyType') }}</label>
                                <p-dropdown id="Branch_CurrencyType" name="currencyTypeId"
                                    [placeholder]="l('SelectCurrencyType')" [(ngModel)]="currencyTypeId"
                                    [options]="initialDropdownData.currencyTypes" optionValue="id"
                                    optionLabel="currencyType" [showClear]="true" (onChange)="currencyTypeOnChange()"
                                    [disabled]="isViewMode()">
                                </p-dropdown>
                            </div>
                            <div class="col-6 form-group">
                                <label for="Branch_CurrencyType_ARAccountNo">{{ l('ARAccountForCurrency') }}</label>
                                <input type="text" id="Branch_CurrencyType_ARAccountNo"
                                    name="branchCurrencyTypeArAccountNo" class="form-control"
                                    [placeholder]="l('ARAccountForCurrency')"
                                    [(ngModel)]="branchCurrencyType.arAccountNo" [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="Branch_CurrencyType_DebitAccount">{{ l('DebitAccount') }}</label>
                                <input type="text" id="Branch_CurrencyType_DebitAccount"
                                    name="branchCurrencyTypeDebitAccount" class="form-control"
                                    [placeholder]="l('DebitAccount')" [(ngModel)]="branchCurrencyType.debitAccount"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-3 form-group">
                                <label for="Branch_CurrencyType_CreditAccount">{{ l('CreditAccount') }}</label>
                                <input type="text" id="Branch_CurrencyType_CreditAccount"
                                    name="branchCurrencyTypeCreditAccount" class="form-control"
                                    [placeholder]="l('CreditAccount')" [(ngModel)]="branchCurrencyType.creditAccount"
                                    [disabled]="isViewMode()" />
                            </div>
                        </div>
                        <h3 class="pt-4"><i class="fas fa-user-alt text-dark pr-3"></i>{{ l('Reevaluation') }}</h3>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="Branch_CurrencyType_DebitAccountReevaluate">{{ l('DebitAccount') }}</label>
                                <input type="text" id="Branch_CurrencyType_DebitAccountReevaluate"
                                    name="branchCurrencyTypeDebitAccountReevaluate" class="form-control"
                                    [placeholder]="l('DebitAccount')"
                                    [(ngModel)]="branchCurrencyType.debitAccountReevaluate" [disabled]="isViewMode()" />
                            </div>
                            <div class="col-3 form-group">
                                <label for="Branch_CurrencyType_CreditAccountReevaluate">{{ l('CreditAccount')
                                    }}</label>
                                <input type="text" id="Branch_CurrencyType_CreditAccountReevaluate"
                                    name="branchCurrencyTypeCreditAccountReevaluate" class="form-control"
                                    [placeholder]="l('CreditAccount')"
                                    [(ngModel)]="branchCurrencyType.creditAccountReevaluate"
                                    [disabled]="isViewMode()" />
                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-end">
                                <button (click)="deleteBranchCurrencyTypeOnClick()" class="btn btn-primary"
                                    [disabled]="isViewMode()">
                                    <span>{{ l('Delete') }}</span>
                                </button>
                                <button (click)="updateBranchCurrencyTypeOnClick()" class="btn btn-primary"
                                    [disabled]="isViewMode()">
                                    <span>{{ l('Update') }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass">
                <tabset>
                    <tab heading="{{ l('TaxSetup') }}">
                        <branchTaxSetup [taxCodes]="initialDropdownData.taxCodes" [(upsertBranchDto)]="upsertBranchDto"
                            [isViewMode]="isViewMode()">
                        </branchTaxSetup>
                    </tab>
                    <tab heading="{{ l('TVH') }}">
                        <branchTvh [(upsertBranchDto)]="upsertBranchDto" [countries]="initialDropdownData.countries"
                            [tvhWarehouses]="initialDropdownData.tvhWarehouses" [isViewMode]="isViewMode()"></branchTvh>
                    </tab>
                    <tab heading="{{ l('Finance') }}">
                        <branchFinance [(upsertBranchDto)]="upsertBranchDto" [isViewMode]="isViewMode()">
                        </branchFinance>
                    </tab>
                    <tab heading="{{ l('Email') }}">
                        <branchEmail [(upsertBranchDto)]="upsertBranchDto" [isViewMode]="isViewMode()"></branchEmail>
                    </tab>
                    <tab heading="{{ l('LogoGraphic') }}">
                        <branchLogoGraphic [(upsertBranchDto)]="upsertBranchDto" (fileChanged)="onChangeFile($event)"
                            [isViewMode]="isViewMode()">
                        </branchLogoGraphic>
                    </tab>
                </tabset>
            </div>
        </form>
        <div class="mt-5" [class]="containerClass">
            <p>{{ l('AddedBy') }} : {{ upsertBranchDto.creatorUserName ? upsertBranchDto.creatorUserName :
                ' ' }} on {{ creationTime | date:'medium'}} </p>
            <p>{{ l('ChangedBy') }} : {{ upsertBranchDto.lastModifierUserName ? upsertBranchDto.lastModifierUserName :
                ' ' }} on {{ lastModificationTime | date:'medium'}}
            </p>
        </div>
    </div>
</div>