// Colors
$black: #263950;
$blue_text: #3250B8;
$blue_inactive: #EEF1F9;
$blue_active: #DDE2F4;

// Font Sizing
$buttonFontSize: 15px;

.text_next_buttons {
    font-size: $buttonFontSize;
}

.text_next_boxes {
    font-size: 14px;
}

.fc .fc-toolbar-title,
.fc-col-header-cell-cushion {
    color: $black !important;
    font-size: $buttonFontSize !important;
    font-weight: bold !important;
}

.buttons_text {
    color: $blue_text !important;
    font-weight: bold !important;
    font-size: $buttonFontSize !important;
}

.btn.btn-secondary.k {
    background-color: $blue_inactive !important;
    color: $blue_text !important;
    font-weight: bold !important;
    font-size: $buttonFontSize !important;
    border: none !important;
    border-radius: 0rem !important;
}

.btn.btn-secondary.j {
    background-color: $blue_active !important;
    color: $blue_text !important;
    font-weight: bold !important;
    font-size: $buttonFontSize !important;
    border: none !important;
    border-radius: 0rem !important;
}


.button-margin {
    margin: 0px !important;
}

.text-margin {
    margin: 15px !important;
}

.fc-today-button.fc-button.fc-button-primary,
.fc-prev-button.fc-button.fc-button-primary,
.fc-next-button.fc-button.fc-button-primary {
    background-color: $blue_inactive !important;
    color: $blue_text !important;
    font-weight: bold !important;
    font-size: $buttonFontSize !important;
    border: none !important;
}

.fc-prev-button.fc-button.fc-button-primary:active,
.fc-next-button.fc-button.fc-button-primary:active,
.fc-today-button.fc-button.fc-button-primary:active {
    background-color: $blue_active !important;
    color: $blue_text !important;
    font-weight: bold !important;
    font-size: $buttonFontSize !important;
    border: none !important;
}

.fc-direction-ltr .fc-button-group>.fc-today-button {
    margin-left: 10px !important;
}

.fc-button {
    outline: none !important;
    box-shadow: none !important;
}

.fc-dayGridWeek-button.fc-button.fc-button-primary,
.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button {
    background-color: $blue_inactive !important;
    color: $blue_text !important;
    font-weight: bold !important;
    font-size: $buttonFontSize !important;
    border: none;
}

.fc-dayGridWeek-button.fc-button.fc-button-primary.fc-button-active,
.fc-dayGridWeek-button.fc-button.fc-button-primary:hover,
.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button:hover,
.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    background-color: $blue_active !important;
    color: $blue_text !important;
    font-weight: bold !important;
    font-size: $buttonFontSize !important;
    border: none;
}

.fc .fc-button:disabled {
    opacity: 100 !important;
}

.box {
    height: 15.5px;
    width: 15.5px;
    margin-left: 18px;
    margin-right: 3px;
    display:inline-block;
    clear: both;
    border-radius: .32rem;
}

.margin-colors {
    margin-bottom: 18px !important;
    margin-top: 6px;
}
