<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #activityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <ng-container *ngIf="!readonly; else readonlyTitle">
                            <span *ngIf="activity.id">{{ l('EditActivity') }}</span>
                            <span *ngIf="!activity.id">{{ formTitle }}</span>
                        </ng-container>

                        <ng-template #readonlyTitle>
                            <span>{{ l('ViewActivity') }}</span>
                        </ng-template>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div *ngIf="sourceTypeCode === getActivitySourceType.LEAD" class="col-sm-6">
                                <div class="form-group m-form__group input-field required">
                                    <label for="LeadCompanyName">{{ l('Company') }}</label>
                                    <select
                                        required
                                        name="activity.leadId"
                                        [(ngModel)]="activity.leadId"
                                        class="form-control"
                                        [disabled]="isEditMode || readonly"
                                    >
                                        <option class="font-italic font-weight-light">
                                            {{ l('SelectALead') }}
                                        </option>
                                        <option *ngFor="let item of allLeads" [ngValue]="item.id">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div *ngIf="sourceTypeCode === getActivitySourceType.ACCOUNT" class="col-sm-6">
                                <div class="form-group m-form__group input-field required">
                                    <label for="AccountCompanyName">{{ l('Company') }}</label>
                                    <select
                                        required
                                        name="activity.customerNumber"
                                        [(ngModel)]="activity.customerNumber"
                                        class="form-control"
                                        [disabled]="isEditMode || readonly"
                                    >
                                        <option class="font-italic font-weight-light">
                                            {{ l('SelectAnAccount') }}
                                        </option>
                                        <option *ngFor="let item of allAccounts" [ngValue]="item.number">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <ng-container *ngIf="sourceTypeCode === getActivitySourceType.OPPORTUNITY">
                                <div class="col-sm-6">
                                    <div class="form-group m-form__group input-field required">
                                        <label for="OpportunityCustomerNumber">{{ l('Company') }}</label>
                                        <select
                                            required
                                            name="opportunityCustomerNumber"
                                            [(ngModel)]="opportunityCustomerNumber"
                                            class="form-control"
                                            [disabled]="isEditMode || readonly"
                                        >
                                            <option class="font-italic font-weight-light">
                                                {{ l('SelectACustomer') }}
                                            </option>
                                            <option *ngFor="let item of allAccounts" [ngValue]="item.number">
                                                {{ item.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group m-form__group input-field required">
                                        <label for="OpportunityName">{{ l('Opportunity') }}</label>
                                        <select
                                            required
                                            name="activity.opportunityId"
                                            [(ngModel)]="activity.opportunityId"
                                            class="form-control"
                                            [disabled]="isEditMode || readonly"
                                        >
                                            <option class="font-italic font-weight-light">
                                                {{ l('SelectAOpportunity') }}
                                            </option>
                                            <option *ngFor="let item of getFilteredOpportunities" [ngValue]="item.id">
                                                {{ item.displayName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="col-sm-6">
                                <div class="form-group m-form__group input-field required">
                                    <label for="UserName">{{ l('AssignedUser') }}</label>
                                    <select
                                        [disabled]="isEditMode || readonly || allUsers?.length === 1"
                                        name="activity.userId"
                                        [(ngModel)]="activity.userId"
                                        class="form-control"
                                        required
                                    >
                                        <option class="font-italic font-weight-light">
                                            {{ l('SelectAUser') }}
                                        </option>
                                        <option *ngFor="let item of allUsers" [ngValue]="item.id">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group m-form__group input-field required">
                                    <label for="ActivityTaskTypeDescription">{{ l('Activity') }}</label>
                                    <select
                                        name="activity.activityTaskTypeId"
                                        [(ngModel)]="activity.activityTaskTypeId"
                                        class="form-control"
                                        required
                                        [disabled]="readonly"
                                    >
                                        <option *ngFor="let item of allActivityTaskTypes" [ngValue]="item.id">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group input-field required">
                                    <label for="Activity_DueDate">{{ isReminder ? l('DueDate') : l('Date') }}</label>
                                    <input
                                        required
                                        class="form-control m-input"
                                        #Activity_DueDate
                                        type="datetime"
                                        bsDatepicker
                                        [(ngModel)]="selectedDate"
                                        id="Activity_DueDate"
                                        name="Activity_DueDate"
                                        [disabled]="readonly"
                                    />
                                    <validation-messages [formCtrl]="Activity_DueDate"></validation-messages>
                                </div>
                            </div>

                            <ng-container *ngIf="!isReminder">
                                <div class="col-sm-6">
                                    <div class="form-group input-field required">
                                        <label for="Activity_StartsAt">{{ l('StartsAt') }}</label>
                                        <p-calendar
                                            required
                                            styleClass="d-flex"
                                            inputStyleClass="form-control m-input"
                                            #Activity_StartsAt
                                            [(ngModel)]="selectedTime"
                                            [timeOnly]="true"
                                            hourFormat="12"
                                            dataType="string"
                                            inputId="Activity_StartsAt"
                                            name="Activity_StartsAt"
                                            [disabled]="readonly"
                                        ></p-calendar>
                                        <validation-messages [formCtrl]="Activity_StartsAt"></validation-messages>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group input-field required">
                                        <label for="Activity_DurationMinutes">{{ l('Duration') }}</label>
                                        <select
                                            name="DurationMinutes"
                                            [(ngModel)]="activity.durationMinutes"
                                            class="form-control"
                                            required
                                            [disabled]="readonly"
                                        >
                                            <option *ngFor="let item of durationItems" [ngValue]="item.value">
                                                {{ item.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="col-sm-6">
                                <div class="form-group m-form__group input-field required">
                                    <label for="ActivityStatusDescription">{{ l('Status') }}</label>
                                    <select
                                        name="activity.activityStatusId"
                                        [(ngModel)]="activity.activityStatusId"
                                        class="form-control"
                                        required
                                        [disabled]="readonly"
                                    >
                                        <option *ngFor="let item of allActivityStatuses" [ngValue]="item.id">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group m-form__group input-field required">
                                    <label for="ActivityPriorityDescription">{{ l('Priority') }}</label>
                                    <select
                                        name="activity.activityPriorityId"
                                        [(ngModel)]="activity.activityPriorityId"
                                        class="form-control"
                                        required
                                        [disabled]="readonly"
                                    >
                                        <option *ngFor="let item of allActivityPriorities" [ngValue]="item.id">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Activity_Description">{{ l('Notes') }}</label>
                                    <textarea
                                        #Activity_Description="ngModel"
                                        id="Activity_Description"
                                        class="form-control"
                                        [(ngModel)]="activity.description"
                                        name="Description"
                                        rows="3"
                                        [placeholder]="l('EnterDescription')"
                                        [disabled]="readonly"
                                    ></textarea>
                                    <validation-messages [formCtrl]="Activity_Description"></validation-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn"
                        [ngClass]="{
                            'btn-default': !readonly,
                            'btn-primary blue': readonly
                        }"
                        (click)="close()"
                    >
                        {{ readonly ? l('Close') : l('Cancel') }}
                    </button>
                    <button
                        *ngIf="!readonly"
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!activityForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
