<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('DueDate') }} :</h6>
                        {{ item.activity.dueDate | luxonFormat: 'yyyy-LL-dd HH:mm:ss' }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('Opportunity') }}) {{ l('Name') }} :</h6>
                        {{ item.opportunityName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('Lead') }}) {{ l('CompanyName') }} :</h6>
                        {{ item.leadCompanyName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('User') }}) {{ l('Name') }} :</h6>
                        {{ item.userName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('ActivitySourceType') }}) {{ l('Description') }} :</h6>
                        {{ item.activitySourceTypeDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('ActivityTaskType') }}) {{ l('Description') }} :</h6>
                        {{ item.activityTaskTypeDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('ActivityStatus') }}) {{ l('Description') }} :</h6>
                        {{ item.activityStatusDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('ActivityPriority') }}) {{ l('Description') }} :</h6>
                        {{ item.activityPriorityDescription }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
