// Fonts
$sansSerif: 'Open Sans';

// Font Sizing
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

// Colors
$black: rgba(51, 51, 51, 1);
$red: #d52b1e;
$blue: #3250B8;
$primaryColor: #3250B8;
$selectedMenuColor: #2A4495;
$secondaryColor: #E4E6EF;
$readonlyInputBackgroundColor: #F3F6F9;
$primaryBorderInputColor: #E4E6EF;
$primaryBorderHoverInputColor: #E4E6EF;
$datatableHeaderColor: #263950;
$titleColor: #3F4254;
$placeholderColor: #605e5c;

// Spacing
$pad: 1em;

// Breakpoints
$smallBreakpoint: 600px;
$largeBreakpoint: 1080px;
