<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <label for="Branch_LogoGraphic_File">{{ l('LogoGraphicFile') }}</label>
        <div class="row align-items-center">
            <div class="col-6 input-group">
                <div class="p-inputgroup">
                    <input id="Branch_LogoGraphic_File" name="branchLogoGraphicFile" type="text" pInputText [disabled]="true" [(ngModel)]="upsertBranchDto.logoFile">
                    <span class="p-inputgroup-addon" (click)="fileSelectInputDialog.click()">{{l('BrowseFile')}}</span>
                    <input style="display:none" #fileSelectInputDialog id="Branch_LogoGraphicFile_Logo_Upload_Button" type="file" accept="image/*" [disabled]="isViewMode" (change)="fileOnChange($event)" />
                </div>
            </div>
            <div class="col-3 d-flex align-items-center mt-8 form-group">
                <label class="checkbox checkbox-outline">
                    <input id="Branch_LogoGraphic_UseGraphic" type="checkbox" name="UseGraphic"
                        [(ngModel)]="upsertBranchDto.useImage" [disabled]="isViewMode" />
                    <span></span>
                    {{ l('UseGraphic') }}
                </label>
            </div>
            <div class="col-3 flex-grow-1 d-flex justify-content-end align-items-center">
                <button id="Branch_LogoGraphicFile_Clear_Button" (click)="clearOnClick()" [disabled]="isViewMode" class="btn btn-primary blue" [buttonBusy]="saving">
                    <i class="fa fa-times pr-3"></i>
                    <span>{{ l('Clear') }}</span>
                </button>
            </div>
        </div>
        <img *ngIf="imageSrc" class="logo-preview" [src]="imageSrc" alt="logo preview">
    </div>
</div>