<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-6 form-group">
                <label for="Branch_Finance_LogoGraphicFile">{{ l('LogoGraphicFile') }}</label>
                <input id="Branch_Finance_LogoGraphicFile" name="branchFinanceLogoGraphicFile" class="form-control"
                    [disabled]="true" [placeholder]="l('LogoGraphicFile')" [(ngModel)]="branchForEdit.logoFile">
            </div>
            <div class="col-3 d-flex align-items-center mt-8 form-group">
                <label class="checkbox checkbox-outline">
                    <input id="Branch_LogoGraphic_UseGraphic" type="checkbox" name="UseGraphic"
                        [(ngModel)]="branchForEdit.useImage" [disabled]="isViewMode" />
                    <span></span>
                    {{ l('UseGraphic') }}
                </label>
            </div>
            <div class="col-3 flex-grow-1 d-flex justify-content-end align-items-center">    
                <button (click)="logoGraphicClear()" class="btn btn-primary blue" [buttonBusy]="saving">
                    <i class="fa fa-times pr-3"></i>
                    <span>{{ l('Clear') }}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <!-- preview image here -->
        </div>
    </div>
</div>