<div class="card card-custom card-in-tab gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Finance_LogoGraphicFile">{{ l('LogoGraphicFile') }}</label>
                    <input type="file" id="Finance_LogoGraphicFile" class="form-control"
                        [placeholder]="l('LogoGraphicFile')" name="Finance_LogoGraphicFile" 
                        [(ngModel)]="branchForEdit.printFinalCc">
                </div>
                <div>
                    <!-- preview image here -->
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center mt-5">
                <div class="form-group flex-grow-1 d-flex justify-content-between align-items-center">
                    <label class="checkbox checkbox-outline">
                        <input type="checkbox" name="UseGraphic" value="true" />
                        <span></span>
                        {{ l('UseGraphic') }}
                    </label>
                    <button (click)="logoGraphicClear()" class="btn btn-primary blue" [buttonBusy]="saving">
                        <i class="fa fa-times pr-3"></i>
                        <span>{{ l('Clear') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>