<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ActivityStatus' | localize">
            <div role="actions">
                <button
                    *ngIf="isGranted('Pages.ActivityStatuses.Create')"
                    (click)="createActivityStatus()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i>
                    {{ l('Status') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getActivityStatuses($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                                (onRowReorder)="updateOrder($event)"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            class="col-1"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.ActivityStatuses.Edit',
                                                    'Pages.ActivityStatuses.Delete'
                                                )
                                            "
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                        <th class="col-1"></th>
                                        <th class="col-5">
                                            {{ l('ActivityStatusName') }}
                                        </th>
                                        <th class="col-5">
                                            {{ l('Color') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr [pReorderableRow]="i">
                                        <td
                                            class="col-1"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.ActivityStatuses.Edit',
                                                    'Pages.ActivityStatuses.Delete'
                                                )
                                            "
                                        >
                                            <div
                                                class="btn-group dropdown"
                                                dropdown
                                                container="body"
                                                *ngIf="!record.activityStatus.isCompletedStatus"
                                            >
                                                <button class="dropdown-toggle btn btn-sm btn-secondary" dropdownToggle>
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.ActivityStatuses.Edit')"
                                                            class="dropdown-item"
                                                            (click)="
                                                                createOrEditActivityStatusModal.show(
                                                                    record.activityStatus.id
                                                                )
                                                            "
                                                        >
                                                            {{ l('Edit') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            class="dropdown-item color-red"
                                                            href="javascript:;"
                                                            *ngIf="
                                                                permission.isGranted('Pages.ActivityStatuses.Delete')
                                                            "
                                                            (click)="deleteActivityStatus(record.activityStatus)"
                                                        >
                                                            {{ l('Remove') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="col-1">
                                            <span class="pi pi-bars" pReorderableRowHandle></span>
                                        </td>
                                        <td class="col-5">
                                            <span class="p-column-title">{{ l('Description') }}</span>
                                            {{ record.activityStatus.description }}
                                        </td>
                                        <td class="col-5">
                                            <p-colorPicker
                                                [(ngModel)]="record.activityStatus.color"
                                                disabled
                                            ></p-colorPicker>
                                            <span class="p-column-title">{{ l('Color') }}</span>
                                            {{ record.activityStatus.color }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getActivityStatuses($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "
                                ></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditActivityStatusModal
            #createOrEditActivityStatusModal
            (modalSave)="getActivityStatuses()"
        ></createOrEditActivityStatusModal>
        <viewActivityStatusModal #viewActivityStatusModal></viewActivityStatusModal>
    </div>
</div>
