<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #activityStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="activityStatus.id">{{ l('EditActivityStatus') }}</span>
                        <span *ngIf="!activityStatus.id">{{ l('CreateNewActivityStatus') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ActivityStatus_Description">{{ l('Description') }} *</label>
                        <input
                            type="text"
                            #ActivityStatus_Description="ngModel"
                            id="ActivityStatus_Description"
                            class="form-control"
                            [(ngModel)]="activityStatus.description"
                            name="Description"
                            minlength="1"
                            maxlength="100"
                            required
                        />
                        <validation-messages [formCtrl]="ActivityStatus_Description"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ActivityStatus_Order">{{ l('Order') }}</label>
                        <input
                            type="number"
                            #ActivityStatus_Order="ngModel"
                            id="ActivityStatus_Order"
                            class="form-control"
                            [(ngModel)]="activityStatus.order"
                            name="Order"
                        />
                        <validation-messages [formCtrl]="ActivityStatus_Order"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ActivityStatus_Color">{{ l('Color') }} *</label>
                        <input
                            type="text"
                            #ActivityStatus_Color="ngModel"
                            id="ActivityStatus_Color"
                            class="form-control"
                            [(ngModel)]="activityStatus.color"
                            name="Color"
                            minlength="1"
                            maxlength="10"
                            required
                        />
                        <validation-messages [formCtrl]="ActivityStatus_Color"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!activityStatusForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
