<div class="card card-custom card-in-tab gutter-b">
    <form class="card-body form" autocomplete="off">
        <div class="card card-custom card-in-tab gutter-b">
            <div class="card-body">
                <div class="pb-3 d-flex justify-content-end">
                    <button (click)="add()" class="btn btn-primary blue" [buttonBusy]="saving">
                        <i class="fa fa-plus pr-3"></i>
                        <span>{{ l('Add') }}</span>
                    </button>
                    <button (click)="delete()" class="btn btn-primary blue" [buttonBusy]="saving">
                        <i class="fa fa-times pr-3"></i>
                        <span>{{ l('Delete') }}</span>
                    </button>
                    <button (click)="update()" class="btn btn-primary blue" [buttonBusy]="saving">
                        <i class="fa fa-check pr-3"></i>
                        <span>{{ l('Update') }}</span>
                    </button>
                </div>
                <h3><i class="fas fa-user-alt text-dark pr-3"></i>{{ l('TaxCodesSetup') }}</h3>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="TaxCode_Local_TaxCode">{{ l('LocalTaxCode') }}</label>
                        <p-dropdown id="TaxCode_Local_TaxCode" name="taxCodeLocalTaxCode" options="taxCodes"
                            optionValue="code" optionLabel="displayName" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div class="col-3 d-flex align-items-center mt-5 form-group">
                        <label class="radio">
                            <input type="radio" name="Code" />
                            <span></span>
                            {{ l('Code') }}
                        </label>
                    </div>
                    <div class="col-3 d-flex align-items-center mt-5 form-group">
                        <label class="radio">
                            <input type="radio" name="Description" />
                            <span></span>
                            {{ l('Description') }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="TaxCode_Local_TaxRate">{{ l('TaxRate') }}</label>
                        <input type="text" id="TaxCode_Local_TaxRate" name="taxCodeLocalTaxRate" class="form-control"
                            [placeholder]="l('TaxRate')" />
                    </div>
                    <div class="col-6 form-group">
                        <label for="TaxCode_Local_RentalRate">{{ l('RentalRate') }}</label>
                        <input type="text" id="TaxCode_Local_RentalRate" name="taxCodeLocalRentalRate"
                            class="form-control" [placeholder]="l('RentalRate')" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="TaxCode_Local_EQSaleRate">{{ l('EQSaleRate') }}</label>
                        <input type="text" id="TaxCode_Local_EQSaleRate" name="taxCodeLocalEQSaleRate"
                            class="form-control" [placeholder]="l('EQSaleRate')" />
                    </div>
                    <div class="col-6 form-group">
                        <label for="TaxCode_Local_Description">{{ l('Description') }}</label>
                        <input type="text" id="TaxCode_Local_Description" name="taxCodeLocalDescription"
                            class="form-control" [placeholder]="l('Description')" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 d-flex align-items-center justify-content-between">
                        <div class="form-group flex-grow-1 pr-2">
                            <label for="TaxCode_Local_TaxAccount">{{ l('TaxAccount') }}</label>
                            <input type="text" id="TaxCode_Local_TaxAccount" name="taxCodeLocalTaxAccount"
                                class="form-control" [placeholder]="l('TaxAccount')" />
                        </div>
                        <button class="btn btn-primary text-primary p-2 mt-1">
                            <i class="fa fa-search p-0"></i>
                        </button>
                    </div>
                    <div class="col-6 form-group">
                        <label for="TaxCode_Local_LocalCode">{{ l('LocalCode') }}</label>
                        <input type="text" id="TaxCode_Local_LocalCode" name="taxCodeLocalLocalCode"
                            class="form-control" [placeholder]="l('LocalCode')" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="TaxCode_Local_MaxAmount">{{ l('MaxAmount') }}</label>
                        <input type="text" id="TaxCode_Local_MaxAmount" name="taxCodeLocalMaxAmount"
                            class="form-control" [placeholder]="l('MaxAmount')" />
                    </div>
                    <div class="col-3 d-flex align-items-center mt-5 form-group">
                        <label class="checkbox checkbox-outline">
                            <input type="checkbox" name="PartsNonTaxable" />
                            <span></span>
                            {{ l('PartsNonTaxable') }}
                        </label>
                    </div>
                    <div class="col-3 d-flex align-items-center mt-5 form-group">
                        <label class="checkbox checkbox-outline">
                            <input type="checkbox" name="LaborNonTaxable" />
                            <span></span>
                            {{ l('LaborNonTaxable') }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 d-flex align-items-center mt-5 form-group">
                        <label class="checkbox checkbox-outline">
                            <input type="checkbox" name="MiscNonTaxable" />
                            <span></span>
                            {{ l('MiscNonTaxable') }}
                        </label>
                    </div>
                    <div class="col-3 d-flex align-items-center mt-5 form-group">
                        <label class="checkbox checkbox-outline">
                            <input type="checkbox" name="RentalNonTaxable" />
                            <span></span>
                            {{ l('RentalNonTaxable') }}
                        </label>
                    </div>
                    <div class="col-3 d-flex align-items-center mt-5 form-group">
                        <label class="checkbox checkbox-outline">
                            <input type="checkbox" name="EquipmentNonTaxable" />
                            <span></span>
                            {{ l('EquipmentNonTaxable') }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>