
.btn.btn-primary {
    color: #fff;
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.btn.btn-secondary i {
    color: $primaryColor !important;
}

.btn.btn-outline-primary {
    color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.btn.btn-outline-primary.focus:not(.btn-text),
.btn.btn-outline-primary:focus:not(.btn-text),
.btn.btn-outline-primary:hover:not(.btn-text):not(:disabled):not(.disabled) {
    background-color: $primaryColor !important;
    color: #fff !important;
}

.form-control:focus {
    color: #3f4254;
    background-color: #fff;
    border-color: $primaryBorderHoverInputColor !important;
    outline: 0;
}

a {
    color: $primaryColor !important;
}

a:hover {
    color: $primaryColor !important;;
}

.text-dark {
    color: $titleColor !important;
}

.color-red {
    color: red !important;
}

.color-blue {
    color: #2C4AB6 !important;
}

.color-blue-low-opacity {
    background-color: #DDE2F4 !important;
}

.breadcrumb .breadcrumb-item a {
    font-size: 1.25rem;
}

.breadcrumb-item+.breadcrumb-item {
    font-size: 1.25rem;
}

.breadcrumb-item {
    line-height: 15px;
}

.card-in-tab {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #fff !important;
}

.form-control[readonly] {
    background-color: $readonlyInputBackgroundColor !important;
}

.input-field > label {
    /*10px is for old browsers which don't support the ch unit*/
    padding-right: 10px;
    padding-right: 1ch;
    position: relative;
  }
  .input-field.required > label:after {
    color: red;
    content: "*";
    position: absolute;
    right: 0;
  } 